[2013-06-10 16:30] timhall opened #1 "Add Salesforce Example"
Excerpt from recent request for assistance:

[2013-06-10 16:35] #1 closed, assigned to nobody

[2013-06-15 16:58] RibeyeOnTheBone opened #2 "Integer parameters - how to?"
Tim,

Thanks for writing Excel-Rest, I am finding it great.

I have run into an issue, I hope you can point me in the right direction.

I want to set a parameter that is an integer, but

[code]

gives a ByRef type compile error, since postRequest is expecting strings as parameters.

If I pass myInteger as a string the web service says it cant convert test to number.

I see you have an example of

[2013-06-15 20:44] #2 closed, assigned to nobody

[2013-07-08 14:22] rpharrison opened #3 "Google Analytics"
It'd be awesome if you could provide an example of how to authenticate to the Google Analytics API, I've been trying to get it to work by modifying the example for Google Maps but without success.

Are you able to take a look?

Function GAClient() As RestClient
    Set GAClient = New RestClient

[code]

End Function

Function MetricsRequest(ID As String, First As String, Last As String, Metrics As

[2013-07-27 18:57] #3 closed, assigned to nobody

[2013-11-28 21:46] ststreck opened #9 "Execution behind Proxy Servers is not possible"
In my Company a Proxy configuration script is set for IE.
At Home I use standard Internet with my Router.

The Example to get Google Directions is working fine at home, but when I'm in the Company I get a timeout, because the Code did not use the Windows / IE default proxy configuration.

This also cause me some issue to track the traffic with Fiddler.
As Fiddler is hooking in the proxy configurat

[2013-12-21 02:18] HeSe opened #13 "content-length"
Hi!
I try to put data with the help of AddBodyString to my request and the server isn't able to process it since the content-length is missing...

Am I supposed to use "AddParameter" with: "Content-Length" after having done "AddBodyString " or am I missing something different?

Thanks for the help!
Sebastian

[2013-12-23 15:53] #13 closed, assigned to nobody

[2014-01-10 09:44] sravikiran opened #15 "Windows authentication"
Hi,

I want to consume a service that runs on Windows authentication using Excel-REST. Is there a way to generate the authorization token using windows user ID and send it with the request to the REST service?

[2014-02-06 01:20] michaleibl opened #17 "Type Mismatch when parsing received JSON"
The received JSON contained  "Amount":14.6000000000, which was correctly parsed and given to CDbl for conversion. But it threw the mentioned error. I see a problem in usage of CDbl for converting the string to double because it's locale-dependent (my locale has ',' as decimal separator, which is of course nonsence to use in JSON). Using the Val for conversion solves this issue.

[2014-02-06 17:46] #17 closed, assigned to nobody

[2014-02-18 05:02] 1evan2 opened #21 "Digest authentication and cookies"
Is it possible to use digest authentication (if so, how?) and pass in cookies?

[2014-02-18 17:16] dsrlb opened #22 "Can't compile"
I'm unable to get this to compile on Office 2010 x64 or Office 2013 x64. Anybody else having this issue?

[2014-02-19 00:03] timhall opened #24 "Importing Class incorrectly imports as Module and fails"
Originally reported with issue #22, seems that importing classes in Excel 2010/2013 64-bit is improperly treating them as modules and leaving behind header information that causes errors.

[2014-02-19 00:05] #22 closed, assigned to nobody

[2014-03-12 09:32] przemoli opened #28 "Q: How to check what will be executed with particular RestRequest?"
Debugging what's not working by looking at variables in VBA editor in debug mode is not useful.

[2014-03-16 15:03] #28 closed, assigned to nobody

[2014-03-22 21:27] #21 closed, assigned to nobody

[2014-04-01 06:05] przemoli opened #33 "Integers as data type for TimeOutMS, which make setting timerouts for 60 secs impossible."
I was able to manually change all those Integers to Longs, but I have see API call, where Integers are passed. Dunno how it work then.

Maybe there better timer that will take Long type as param?

[2014-04-02 17:48] #33 closed, assigned to nobody

[2014-05-09 15:26] timhall opened #36 "OAuth1Authenticator improperly handles url and parameters"
From [http://oauth.net/core/1.0/#anchor14](http://oauth.net/core/1.0/#anchor14) the signature base string has very specific formatting for the request url and request parameters. This improper formatting caused issues with accessing the LinkedIn API.

Test against https://developer.linkedin.com/oauth-test-console

Todo:
- [x] Use OAuth1 formatting for request url (exclude query and hash, include p

[2014-05-12 13:48] #36 closed, assigned to nobody

[2014-05-18 01:21] dkottow opened #40 "Handling of empty values"
Hi Tim,
Great project. I am building a client to a rest-server for sqlite database tables on it.

Just in case, I shall release my (poor) VBA soon along where the server is:
https://github.com/dkottow/g6-server

My "issue" was that I wanted empty cells to be mapped to nulls. To do that, I change the following in Module RestHelpers - maybe you agree..:

Private Function json_toString(ByRef Obj As V

[2014-06-21 01:42] #40 closed, assigned to nobody

[2014-06-24 09:25] ststreck opened #43 "Web Service with MacOS Binary Property List Response (.bplist)"
Hi,
Im using the Excel-REST for quite a while with former JSON responses. Unfortunately the Web-Service was changed to deliver .bplist responses due to performance and traffic volume.

Is there a way to also support bplist as format for the Response ?

I found a Windows Plist editor, which helps to browse and check the Response.
http://www.icopybot.com/plist-editor.htm

[2014-06-28 18:44] TotallyInformation opened #44 "Anti-Issue"
No issue, just wanted to say a big THANKS!

Wanted to produce some stats on my email usage and turned to CouchDB to hold the data as it uses a nice, simple REST interface & is lightweight for running on a single PC.

But trying to sort out JSON string issues AND PUT/POST, etc. was a pain.

It took me no time at all to get your "Excel" modules into Outlook and it works a dream. I push data from sen

[2014-06-28 18:44] #44 closed, assigned to nobody

[2014-07-07 19:03] timhall opened #45 "Allow separate request and response formats"
Ran into this issue with an API that needed `form-urlencoded` for the request but `json` for the response

[2014-07-07 19:05] timhall opened #46 "Can't set headers in `BeforeExecute` of authenticator"
Headers have already been set when authenticator is called so adding/changing headers has no effect

[2014-07-07 19:10] timhall opened #47 "Refactor crypto and add hashing methods"
Normalize method signatures and input/output types and add HMAC-SHA256

[2014-07-07 19:28] timhall opened #48 "Add `LogRequest` and `LogResponse`"
While adding `LogDebug` was helpful for logging what is happening inside Excel-REST, it can be a little noisy for understanding what was sent with a request and received with the response.

[2014-07-08 15:20] #47 closed, assigned to nobody

[2014-07-08 16:49] #46 closed, assigned to nobody

[2014-07-09 18:22] #48 closed, assigned to nobody

[2014-07-09 19:53] #45 closed, assigned to nobody

[2014-07-11 11:17] smbache opened #53 "Parsing of json"
Hi,

thanks for the nice work with this project; I have only played a little with it, but it seems really nice and useful. I have some trouble, though, extracting a json result.

I have something like

[code]

From the Immidiate window:

[code]

But `resp.Data` is a collection with `Item(1) = "coef"` and `Item(2) = "sigma2"`, rather than a dictionary with the parsed results.

Am I missing somethin

[2014-07-11 11:40] #53 closed, assigned to nobody

[2014-07-24 19:53] #24 closed, assigned to nobody

[2014-07-30 16:44] markandersonus opened #56 "Rest example"
Fairly new to github, so not sure if I should put this here.

The rest example for GetDirection in the readme doesn't work. I get an automation error. The JSON one works fine. What I don't see in the Rest example is the base URL set anywhere

[2014-07-31 04:48] zinji opened #57 "Add SOAP support and/or example"
Thinking of using your tool as soap request client. Do you have any feature request in the pipeline. I am planning to modify the RestClient to incorporate the soap calls - do you have any suggestions on the proposed approach.

[2014-07-31 14:24] #56 closed, assigned to nobody

[2014-08-14 22:59] deanwiles opened #59 "Tweaks for Access-REST"
Thanks Tim! This code is awesome and I was able to easily use it from Microsoft Access. We needed to enhance an old Access 2003 app to use a REST-based web service. In case anyone else needs to use Excel-REST from Access, here are the few tweaks I did:
1. Exported RestHelpers.bas, HttpBasicAuthenticator.cls, IAuthenticator.cls, RestClient.cls, RestRequest.cls and RestResponse.cls, and then importe

[2014-08-21 06:49] fortm opened #60 "Is it possible to use Excel-REST without Microsoft Scripting Runtime?"
Thanks Tim!
Is it possible to run these classes without Microsoft Scripting runtime ?
I understand that the dependency is only for Scripting.Dictionary. So, providing a standalone Dictionary implementation is what I was thinking and removing dependency on Scripting.runtime.

I am trying to use Dictionary implementation as below - http://sysmod.wordpress.com/2011/11/24/dictionary-vba-class-update/

[2014-08-21 10:29] ststreck opened #61 "Decoding GZIP web response"
Hi Tim,
I really apreciate your effort in keeping Excel-Rest up-to-date.
Hope that my issue is a simple one.

I use a Web-Service returning a JSON String, but for performance it is GZIP encoded.
So I add a Header:
    Request.AddHeader "Accept-Encoding", "gzip, deflate"

This works fine, so I get an gzip encoded response.
Now Im searching for a way how to decode this before it is handed over to th

[2014-09-05 16:56] deanwiles opened #62 "Large string support using StringBuilder"
Hi Tim,
One of our web services had a very large response field (>1MB), which took several minutes to parse because of the way strings are reallocated when concatenated. I googled around and found an implementation of cStringBuilder.cls for JSONLib, and have merged the StringBuilder usage and some related JSONLib fixes into RestHelper.bas.

This JSONLib fixes and StringBuilder class came from http

[2014-09-11 10:57] PreciseAsteroid opened #63 "Add a POST example"
the get samples were very helpful but I am having issues processing a post request. I assume having a sample in hand would make things easier

[2014-09-16 16:28] #60 closed, assigned to nobody

[2014-09-29 22:18] abennett2014 opened #65 "Mac Compatibility"
This has been a great help. Unfortunately i am running into a compatibility issue on Mac OS due to the instantiation of the ActiveX Control MSXML2.ServerXMLHTTP.6.0.

Is there an alternative that is available that would be cross-platform?

[2014-10-06 13:11] koraytugay opened #66 "Excel-REST on Microsoft Excel for Macintosh"
Hi Tim,

Thanks for this great work.

I wanted to ask a question.

I made it work in Windows easily but for Mac OS I had the Dictionary problem. I downloaded the Dictionary implementation of yours but this time I am getting:

"Run-time error '429'
ActiveX component can't create object

error in Mac. In Windows everything is fine.

Any solutions/suggestions?

Regards,
Koray

[2014-10-09 01:40] jbkly opened #67 "Add ExecuteParallel for making requests in parallel"
Is there any support for passing in an array of urls to GetJSON so you can get multiple resources with one get request?

[2014-10-14 12:40] #66 closed, assigned to nobody

[2014-10-20 15:22] ruudvh opened #68 "Add multiple Query String Param, same Key"
Hi,

I am trying to add multiple QueryStringParam through `AddQueryStringParam`, this all works great unless I start adding params with the same `Key`. When adding multiple params with the same `Key` it only adds the latest one. I assume this is because `AddQueryStringParam` uses a dictionary and only unique `Keys` are allowed?

I have no problem editing the code but I was wondering if somebody re

[2014-12-05 05:35] DamnDam opened #69 "Auto-proxy configuration"
Hi Tim,

Thank you for this awesome project !

I wanted to share the solution I found in order to automatically configure proxies in WebClient 4.0 (WinHTTP)

This allows me to do something like this:

[code]

The APIClient object receives automatically the appropriate proxy for the base URL.

This works by retrieving IE settings, including auto-detect and auto-config scripts, then performing a WPA

[2014-12-15 08:13] boekhold opened #70 "ERROR - RestHelpers.ExecuteRequest: -2147012894"
Running a large number of POST request from an Excel Sheet, and after around 3000 calls are encountering the above error.
I'm wondering if this is an out-of-memory error. Looking at the code, it seems possible that the Http object created in prepareHttpRequest is never garbage collected (not sure this is the right term to use in the MS/VBA world?). Maybe an explicit "Set Http = Nothing" is require

[2014-12-16 21:35] #70 closed, assigned to nobody

[2014-12-16 23:16] timhall opened #71 "Re-thrown error descriptions are lost in Class methods on Mac"
Example:

[code]

[2014-12-17 21:14] #65 closed, assigned to nobody

[2014-12-17 21:14] #68 closed, assigned to nobody

[2014-12-17 21:15] #62 closed, assigned to nobody

[2014-12-17 21:16] #59 closed, assigned to nobody

[2014-12-17 22:02] #61 closed, assigned to nobody

[2014-12-17 22:08] #43 closed, assigned to nobody

[2014-12-18 22:33] timhall opened #73 "Invalid certificate authority error for self-signed certificates"
Attempting to access service with self-signed certificates throws the following: "The certificate authority is invalid or incorrect."

Will look into bypassing certificate checking in WinHttpRequest and cURL. If it's possible, default will remain checking the certificate with option added to override.

[2014-12-23 17:51] #69 closed, assigned to nobody

[2015-01-02 20:18] ststreck opened #76 "Duplicate Declare Public Enum WebStatusCode"
Public Enum WebStatusCode
is part of "WebHelpers" and "RestHelpers".

[2015-01-02 20:56] ststreck commented on #76
There are several dupliactes in the Helpers.

[2015-01-02 21:05] timhall commented on #76
@ststreck Sorry about that, I still need to write up more detailed transition docs from v3 to v4, but basically everything with `Rest*` has been replaced with `Web*` so remove `RestHelpers` when installing v4 and this should be resolved.

[2015-01-02 21:05] #76 closed

[2015-01-02 21:14] ststreck commented on #76
Ok, no prob.
But please remove REST* content also from "VBA-Web - Blank.xlsm"
I expect that blank example to run without such issues.

[2015-01-04 19:05] #9 closed

[2015-01-04 19:05] #15 closed

[2015-01-04 19:15] timhall commented on #76
Thanks for bring this up @ststreck this has been fixed in v4.0.0-rc.2

[2015-01-04 20:19] timhall opened #77 "Security Review"
(Should be the last step before releasing v4.0.0)

Need to verify that VBA-Web is taking the right steps to be safe-by-default, but allows for adjusting security settings (e.g. self-signed certificates, #73)

Action items:

- [x] Enable certificate revocation check in `WinHttpRequest` (not available in cURL)
- [x] Disable automatic redirection in `WinHttpRequest` (disabled by default in cURL)
- [x

[2015-01-04 20:57] timhall commented on #77
Options for WinHttpRequest:

http://msdn.microsoft.com/en-us/library/windows/desktop/aa384108(v=vs.85).aspx

[code]

[2015-01-04 21:11] timhall commented on #77
#### Self-signed Certificates

##### WinHttpRequest

[code]

Allow self-signed certificates with `0x0100`

##### cURL

`--insecure` seems like the best option

[2015-01-04 21:32] timhall commented on #77
#### cURL Notes

`--insecure`

http://curl.haxx.se/docs/manpage.html#-k

SSL Certification Verification

http://curl.haxx.se/docs/sslcerts.html

[2015-01-09 18:04] MaarekElets opened #78 "ParseJSON and Collections of Dictonaries"
When encountering a json array of objects (ex [{key1:value, key2:value}, {key1:value, key2:value}]). The parser returns a collection of just the key values. This is due to the json_ParseArray function not checking for { before passing int json_ParseValue. I believe this could be resolved with a change to the json_ParseArray function (changes comment marked):

[code]

[2015-01-09 18:18] timhall commented on #78
@MaarekElets thanks for reporting this, I'm keeping track of it here: https://github.com/VBA-tools/VBA-JSON/issues/9

[2015-01-12 12:05] #78 closed

[2015-01-14 14:31] timhall commented on #77
Plan:

1. Turn on certificate revocation checking in Windows
2. Add `Insecure` option to `WebClient` (default is `False`) to skip certificate validation
3. Add Hooks (4.1.0) for updating `WinHttpRequest` and `cURL` for low-level changes

`Insecure`:

- Turn off certificate revocation checking in Windows
- Set SslErrorIgnoreFlags to `0x2000`
- Set `--insecure` flag in cURL

[2015-01-15 00:41] #73 closed

[2015-01-15 00:42] #77 closed

[2015-01-15 01:34] timhall commented on #73
To ignore invalid certificate authority errors (and other SSL errors), use:

[code]

[2015-01-15 02:23] timhall commented on #71
Closing for now, appears to be an bug in VBA for Mac

[2015-01-15 02:23] #71 closed

[2015-01-15 20:15] dchovanec opened #80 "Error when reusing WebRequest object"
When I'm trying to re-use the same WebRequest for multiple subsequent API calls. It fails with error.

I discovered that the Sub Prepare()  duplicates headers every time Client.Execute() is called.
I fixed it by modifying the Prepare() with code to update the header [key,value] in case the key is already present.

[2015-01-15 20:19] dchovanec opened #81 "JSON - broken by regional settings with , as decimal separator"
A broken JSON string is sent to Client when request body is populated with JSON dictionary containing a Double.
This happens when windows locale has , as decimal separator.

[2015-01-15 21:21] timhall commented on #80
Ah, that's a good catch! I'll update the code shortly.

[2015-01-15 21:32] timhall commented on #81
I figured this would happen, but didn't have a good way to test it. Do you mind sending me an example of input and the resulting JSON?

Two possible areas where the problem could be occurring:
- `ParseJson`: `json_ParseNumber` was supposed to handle it (on [this line](https://github.com/VBA-tools/VBA-Web/blob/9c75f10b12fe9c92376415d103d451c14f25123c/src/WebHelpers.bas#L1793))
- `ConvertToJson`: Sh

[2015-01-15 22:18] dchovanec commented on #81
parseNumber is fine. I think I did just replace ",", "." for numbers in ConvertToJson which works just fine. I'm at home now and the code is at work... I can look it up tomorrow.

[2015-01-16 13:28] dchovanec commented on #81
yes i did just this:
        ConvertToJson = Replace(json_DictionaryCollectionOrArray, ",", ".")
maybe there is a different way to take other locales into consideration...

the test case is:
set a = new dictionary
a.add "test", 6.45
Set request.body = a

error case:
the result is noncompliant JSON in the body when windows locale is set to have , as decimal separator:
{"test":6,45}

should be:
{"te

[2015-01-16 15:34] #80 closed

[2015-01-16 15:34] #81 closed

[2015-01-16 15:35] timhall commented on #80
@dchovanec Thanks for raising this issue, it's been fixed in v4.0.0-rc.4

[2015-01-16 15:35] timhall commented on #81
@dchovanec Thanks for raising this issue, it's been fixed in v4.0.0-rc.4

[2015-01-18 16:08] timhall opened #82 "v4.0.0 Final Review"
- [x] WebHelpers
- [x] WebClient
- [x] WebRequest
- [x] WebResponse
- [x] IWebAuthenticator
- [x] WebAsyncWrapper
- [x] DigestAuthenticator
- [x] EmptyAuthenticator
- [x] FacebookAuthenticator
- [x] GoogleAuthenticator
- [x] HttpBasicAuthenticator
- [x] OAuth1Authenticator
- [x] OAuth2Authenticator
- [x] TwitterAuthenticator
- [x] WindowsAuthenticator

[2015-01-19 14:47] qdgtruie opened #83 "MAC : Compile Error : User Defined type not defined"
Hi,

Seems that "Private web_pAsyncRequests As Dictionary" is raising a compilation error on my MAC (module WebHelper).

any clue ?

Regards,

[2015-01-19 14:50] timhall commented on #83
You may need to add the `Dictionary` replacement for Mac from here: https://github.com/VBA-tools/VBA-Dictionary

I'll update the install / upgrade guide to include that step.

[2015-01-19 15:02] qdgtruie commented on #83
thx

[2015-01-19 15:11] #83 closed

[2015-01-23 17:58] omiba opened #84 "Office 2013 64-Bit Compile Issue"
When I open the "VBA-Web - Blank.xlsm" file, I am getting an error

Compile error:
The code in this project must be updated for use on 64-bit systems.  Please review and update Declare statements and then mark them with the PtrSafe attribute.

It's specifically highlighting this line, and the "Function" word:
Private Declare Function utc_GetTimeZoneInformation Lib "kernel32" Alias "GetTimeZoneInfo

[2015-01-23 19:20] timhall commented on #84
@omiba Thanks for bring this up, I only have 32-bit to test with, so having someone test on 64-bit is invaluable. I'll dig into this shortly.

[2015-01-23 19:23] omiba commented on #84
I got it to work by searching and replacing "Private Declare Function" with "Private Declare PtrSafe Function".  Reading about PtrSafe, it seems totally fine to do so.  Also tested on the test spreadsheet.

[2015-01-23 21:50] timhall commented on #84
@omiba This is fixed in rc.6, please let me know if you run into any other issues.

[2015-01-23 21:50] #84 closed

[2015-01-24 19:08] #82 closed

[2015-01-25 21:00] timhall opened #86 "Update StackOverflow answers for VBA-Web"
From traffic on Excel-REST / VBA-Web, the following SO questions reference Excel-REST and need to be updated for VBA-Web:

- [x] http://stackoverflow.com/questions/19553476/how-to-make-rest-call-with-vba-in-excel
- [x] http://stackoverflow.com/questions/3521876/calling-web-service-using-vba-code-in-excel-2010
- [x] http://stackoverflow.com/questions/21021540/post-json-to-web-in-excel-vba
- [x] htt

[2015-01-28 21:11] t-todd opened #87 "Are there any plans to support async requests on Mac?"

[2015-01-29 01:37] timhall commented on #87
Hi @t-todd this is definitely planned, but based on the research I've done it doesn't seem to be possible for Mac with the current approach. Also, the current Windows implementation is not compatible with Mac so it would need to be reworked to work side-by-side with the Mac implementation.

I'll continue to look into it, but I'm closing this for now.

[2015-01-29 01:37] #87 closed

[2015-01-29 20:00] joyfullservice opened #88 "Remove Excel dependency with Application.OnTime"
Hi Tim,
Outstanding job on VBA-Web! I love the simplicity as I use it to connect to web services on our internal software systems.

One suggestion is to remove the `Application.OnTime` dependency on Microsoft Excel. This works great in Excel, but not in other VBA-enabled applications like Microsoft Access.

As an alternative, I set up an additional class to utilize the Windows API for timer execut

[2015-01-29 20:06] timhall commented on #88
@joyfullservice Glad you found the project and thanks for bringing this up. I naively thought switching to `Application.OnTime` would help Access usage, but apparently it had the opposite effect! The `SelfTimer` looks like a good approach, I'll investigate the best way to integrate it. (Goal is to move timer code to `WebAsyncWrapper` so that Windows-only code like this shouldn't be a problem)

[2015-02-03 15:10] gavin-hay opened #89 "Curl authentication on MAC"
I found a defect in the HTTPAuthenticator

On OS X the password should be escaped to deal with special characters to bash. For example, I had a "!" in my password with failed the call. In the `WebAuthenticator_PrepareCurl` method, I replaced:

    Curl = Curl & " --basic --user " & Me.Username & ":" & Me.Password
with

    Curl = Curl & " --basic --user " & Me.Username & ":" & Replace(Me.Password,

[2015-02-04 00:54] timhall opened #90 "Url Segments should be url-encoded"
Easy to get in trouble with url segments currently (discovered while testing #89)

[2015-02-04 01:00] timhall opened #91 "Adding multiple Authorization headers throws error"
Throws the following (non-obvious) error:
-2147024713 (800700b7): Cannot create a file when that file already exists.

Resolve with addition of `SetHeader` (add/replace) alternative to `AddHeader` (add only)

[2015-02-04 01:49] #89 closed

[2015-02-04 01:49] #90 closed

[2015-02-04 01:49] #91 closed

[2015-02-07 15:58] timhall opened #93 "Add Base64Decode"
Currently have `Base64Encode`, but `Base64Decode` is useful for things like JWT support.

Windows: http://web.archive.org/web/20060527094535/http://www.nonhostile.com/howto-encode-decode-base64-vb6.asp
Mac: http://drewsymo.com/2013/11/simple-base64-encode-decode-on-mac-osx-linux-with-openssl/

[2015-02-08 02:41] #93 closed

[2015-02-08 22:10] #86 closed

[2015-02-09 01:10] #88 closed

[2015-02-09 01:28] timhall commented on #88
Ok, so I've moved the `Application.OnTime` code out from the "core" `WebHelpers` and into `WebAsyncWrapper` so that should resolve any compiling issues outside of Excel for the "core" modules/classes. I'll look into `SelfTimer` and other `OnTime` alternatives, but for now I've added a disclaimer to `WebAsyncWrapper` that it is Excel-only (in addition to Windows-only).

[2015-02-11 11:38] IgorShch commented on #57
Hi Tim,

Thank you very much for your effort.

Sorry if it's stupid, but is the SOAP support included in the version 4.0? Would be pretty cool to have an example if it is.

[2015-02-11 15:44] timhall commented on #57
@IgorShch I believe all of the elements of SOAP are supported, but I haven't tried a SOAP example yet. I'll look into it more and see if I can create an example for it.

[2015-02-13 15:57] erikb999 opened #96 "A small bug concerning decimal numbers in different locales"
Hi, thanks for excellent software! It has made it possible to create a json-integration to a cloud solution in just a couple of days for a developer that has used VBA very little over the years.

Found a small bug:

In WebHelpers function json_ParseNumber the handling of "." and "," is faulty, which showed up when parsing json numbers in a "," locale (Sweden). The problem is that Val is not locale

[2015-02-13 16:32] timhall commented on #96
Ah, you're right, that was a carryover from when `CDbl` / `CInt` were used. Thanks for raising this issue, I'll get if fixed today.

[2015-02-16 21:21] #96 closed

[2015-02-24 20:59] grv87 opened #97 "UTF-8 in JSON response isn't handled"
I use the following Request:
[code]

Response is JSON with strings in UTF-8, which aren't converted in VBA strings.

[2015-03-02 22:30] timhall commented on #97
Hi @grv87, thanks for bringing this up, I've been worried about this issue as I hadn't set up good ways to test it just yet.

Can you provide some more details on what was expected vs actual? Did it complete parsing the request/response without errors, but parse it incorrectly or were errors thrown when parsing? Is the API public or do you have an example that I can try locally?

[2015-03-03 11:33] setuc opened #99 "Twilio Addition"
Are you keen to include Twilio into your list? I can send you a pull request.

[2015-03-03 14:16] timhall commented on #99
I'm all for adding APIs, especially if they include a PR!

[2015-03-03 20:56] grv87 commented on #97
It completes parsing without errors, but incorrectly. Response.Data contains mojibake.

I've put my problematic example here: https://yadi.sk/i/7_Fs3GTyf2HA7 (I hope it is not overcomplicated. If it is --- let me know, I'll make simpler one).

[2015-03-05 18:18] jcushman opened #100 "Application.Run compile error in Mac Word 2011"
Thanks for the crazy-fast response to my issue in VBA-Dictionary, by the way! The solution worked perfectly.

The next error I ran into is a compile error in WebHelpers, in each of these three lines:

    Set ParseByFormat = Application.Run(web_Callback, Value)
    Set ParseByFormat = Application.Run(web_Callback, Bytes)
    ConvertToFormat = Application.Run(web_Callback, Obj)

In each case, the r

[2015-03-05 22:56] timhall commented on #100
These little inconsistencies are always so surprising and strange. Thanks for raising this issue, I'll see if there is a good way to bypass it in general for Word, but sounds like your solution is the best approach for the time being.

[2015-03-12 17:34] blonkm opened #101 "Convert JSON to nested dictionary/collection/array"
It would be awesome if the JSON output you often get from REST could be converted to nested regular VBA structures, such as dictionary, collection or array. That way looping would become utterly simple. See https://code.google.com/p/vba-json/ for an example of open source code that could do this.

[2015-03-12 17:36] blonkm commented on #101
gee, just noticed one folder up you guys already offer this in VBA-JSON. OK, never mind. (facepalm...).

[2015-03-12 17:36] #101 closed

[2015-03-12 17:40] timhall commented on #101
Also, it's built-in to VBA-Web! With `Request.Format = WebFormat.Json` or `Request.ResponseFormat = WebFormat.Json` the response is automatically parsed and the resulting `Dictionary` or `Collection` is in the `Response.Data` property.

[code]

[2015-03-12 23:46] blonkm commented on #101
Thanks, I had figured it out already. It was a long time ago since I used dictionaries, so I was a but rusty on the syntax. Also there was apparently some bug in the API I used and at first it returned an empty string.

[2015-03-16 12:49] mithunmanohar79 opened #102 "Excel crashes when WebClient.EnableAutoProxy enabled"
I am sending request to a web service from behind a proxy server. So I have enabled WebClient.EnableAutoProxy = True in my code. But when I am offline and try to run my code, excel crashes immediately. Any suggestion to solve this would be highly appreciated.

[2015-03-16 12:57] timhall commented on #102
Hi @mithunmanohar79 thanks for raising this issue, I'll add a test case and investigate further.

[2015-03-16 18:46] mithunmanohar79 commented on #102
@timhall Thanks for your super fast response. I figured out that the excel was crashing when I put the code like
WebClient.EnableAutoProxy=True
WebClient.BaseUrl = URL
Set WebResponse =Webclient.Execute(WebRequest)

But when I changed it (order)
WebClient.BaseUrl = URL
WebClient.EnableAutoProxy=True
Set WebResponse =Webclient.Execute(WebRequest)

The code throws an error with error code which is c

[2015-03-16 18:49] timhall commented on #102
Good find! I'm glad it's working now while I track down the issue.

[2015-03-17 13:25] timhall commented on #102
@mithunmanohar79 I'm having trouble reproducing this locally, what error is being thrown that is being caught by your error handler? Also, could you give a little more of the surrounding code in your above example? (I can't see how just that change would fix this issue)

[2015-03-17 14:01] mithunmanohar79 commented on #102
@timhall You are right . My observation was wrong. Code is not working now even when the order is not changed. These are the error I am getting when I run the request function.ERROR - WebClient.LoadAutoProxy: 10022, An error occurred while loading auto-proxy
10022: Unable to download proxy auto-config script
ERROR - WebClient.Execute: -2147210493 (11011 / 80042b03), An error occurred during execut

[2015-03-28 13:50] AmeliePeter commented on #63
Can any body tell me where I can get the RestClient, RestResponse, RestRequest files used in the above examples?

[2015-03-28 14:00] alecoronel commented on #63
They were all upgraded and renamed in the new version, change the names
using "Web" instead of "Rest", get them from the download section. Works
just as well as before!
Den 28 mar 2015 14:50 skrev "AmeliePeter" <notifications@github.com>:

[2015-03-29 14:19] AmeliePeter commented on #63
Thanks  @alecoronel  for the quick reply. I am trying to POST a URL encoded JSON string a web service. So I tried to use Request.AddBody method as shown in Tim's example. But I cannot find Request.AddBody method in my WebRequest class.

[2015-03-29 14:30] alecoronel commented on #63
I'm not by the computer right now, but did you try just Request.Body
instead?
Den 29 mar 2015 16:19 skrev "AmeliePeter" <notifications@github.com>:

[2015-03-29 14:38] timhall commented on #63
@AmeliePeter I've updated the example for v4.0 to use the updated class names and the `Body` approach. To set the body, you can now use `Body = (String or Array)` or `Set Body = (Dictionary or Collection)`.

[2015-03-29 15:15] #100 closed

[2015-03-29 19:06] #102 closed

[2015-03-30 01:40] dwhofer opened #105 "Parse XML Content"
Could you please post an example of how I would parse (find and node and its value)the xml returned in the content of my api call?

[2015-03-30 01:47] timhall commented on #105
Here's an example of creating a custom formatter for XML: [XML Support in 4.0](https://github.com/VBA-tools/VBA-Web/wiki/XML-Support-in-4.0). The formatter sets `Data` in `WebResponse` to a `DOMDocument`.

Here's an example of how to work with `DOMDocument`: http://www.xml.com/lpt/a/979

Let me know if you have any issues getting that working.

[2015-03-30 01:47] #105 closed

[2015-04-02 12:57] timhall commented on #105
An additional note for this issue: while `WebFormat.Xml` exists, it is not currently functioning while Mac compatibility is being developed. Using `Request.Format = WebFormat.Xml` does not work currently and is incompatible with the custom converter approach in the above link.

Example:
[code]

[2015-04-09 05:09] hrvojesolc opened #106 "Run-time error for revocation information for the security certificate"
Firstly, thank you for developing a great set of very helpful tools!

Problem I am having is I have two appliances that have a web server with self-signed certificate. Both appliances are configured identically, however, for one of them I get a run-time error attached.

![run-time error for revocation information for the security certificate](https://cloud.githubusercontent.com/assets/569551/70607

[2015-04-09 13:38] yadimon commented on #97
i think its like:
PHP:
*echo json_encode("text with symbols like* **ü***")*
and vba:
*Debug.Print Response.Content*
gives
*text with symbols like* **\u00fc**

[2015-04-09 13:58] timhall commented on #106
How strange! Some troubleshooting ideas:

1. Set a breakpoint on WebClient:526 to make sure the Certificate Revocation check is being disabled
2. Set a breakpoint on WebClient:275 and in the immediate window (ctrl + g) type "? web_Http.Option(18)" to check the Certificate Revocation option (should be False)

Other than those two checks, I'm not sure what the issue could be. I'll keep looking into

[2015-04-09 15:58] hrvojesolc commented on #106
Thank you for your quick response!
I did some digging and seems that appliance certs are a bit different in the way they are licensed as one is standalone (working one) and one is a controller (faulty one). Working one seems to be self-signed and non-working one seems to be a CA or part of CA chain.

Here are snips of them side by side (left ok, right produces error):
![side-by-side-1](https://clo

[2015-04-09 16:25] hrvojesolc commented on #106
I added the breakpoints and it is false:
? web_Http.Option(18)
False
I also stepped through (F8) the entire code and WebClient:508 does get processed before call is made. Not really sure where to look next.

[2015-04-09 16:54] timhall commented on #106
Hmm, definitely a strange issue. Can you give me a little information about your setup:

1. Windows version
2. Excel version
3. Is this going through a proxy, if so, with `EnableAutoProxy` or set directly?

My guess is that it's a certificate issue, but I'm curious why that isn't being ignored by `Insecure` (since that ignores SSL errors and disables certificate revocation checking)

[2015-04-09 18:47] hrvojesolc commented on #106
1. Microsoft Windows XP Professional 5.1.2600 Service Pack 3 Build 2600
2. Microsoft Office Excel 2007 (12.0.6718.5000) SP3 MSO (12.0.6718.5000)
3. No proxy. VPN tunnel between my XP VM and network that both appliances are on. I can browse both appliances via HTTPS in Firefox and IE within XP.

I'm not sure why it is not being ignored either, especially because it seems to work on one of the certs

[2015-04-09 19:58] timhall commented on #106
Here's the details on the Certificate Revocation check option:

I'm a little confused by the "such revocation errors cannot be suppressed" part and whether that occurs whether or not the check is enabled, but it seems like it might be what you're running into.

At this point it seems like a certificate issue and I'm not sure how much more I can help, but if you are able to find out more and there

[2015-04-09 21:47] hrvojesolc commented on #106
Thank you very much for your help! I'll try and recreate the certificates on the appliance tonight and hopefully I get somewhere soon with this... Thank you again, Hrvoje

[2015-04-10 04:25] grv87 commented on #97
Content is not escaped, it is in plain UTF-8.

[2015-04-10 08:02] Bazuum opened #107 "Can't create KeyValue"
I tried to execute a simple Get request.
It always fails when it creates a KeyValue.

Am i doing something wrong?

<code>

Public Sub test()

    WebHelpers.EnableLogging = True
    Dim Client As New WebClient
    Client.BaseUrl = "XXX"

    Dim Auth As New HttpBasicAuthenticator
    Auth.Setup "XXX", "XXX"
    Set Client.Authenticator = Auth

    Dim Request As New WebRequest
    Request.Resource

[2015-04-10 13:11] timhall commented on #107
Do you have `Scripting.Dictionary` or [VBA-Dictionary](https://github.com/VBA-tools/VBA-Dictionary) added? The dependency on `Dictionary` may be a little unclear in the docs (I'm adding `VBA-Dictionary` to the installer in the next release so that it can be done automatically).

1. To add `Scripting.Dictionary` (Windows-only), from VBA:

    `Tools > References > Enable Microsoft Scripting Runting

[2015-04-13 06:54] Bazuum commented on #107
I used VBA-Dictionary from this link: https://github.com/VBA-tools/VBA-Dictionary

The VBA-Dictionary needs this syntax: Dictionary.Item("Key")
Webhelper used this syntax: Dictionary.("Key")

Problem solved by adding the "Item" keyword.

[2015-04-13 06:54] #107 closed

[2015-04-13 13:52] timhall commented on #107
@Bazuum I'm glad that fixed the problem. Can I ask what process you used to install VBA-Dictionary? It's designed to be a drop-in replacement for `Scripting.Dictionary` so it has `Dictionary("Key")` support, so I'm wondering why that isn't working.

[2015-04-13 14:20] blonkm commented on #107
@timhall @Bazuum I don't know if it was a typo but it said `Dictionary.("Key")` instead of `Dictionary("Key")`

[2015-04-14 06:09] Bazuum commented on #107
@blonkm It was a typo :/
@timhall I simply imported the Dictionary.cls from https://github.com/VBA-tools/VBA-Dictionary

[2015-04-14 08:01] Bazuum commented on #97
This function worked for me, give it a try:

[code]

[2015-04-14 09:03] japj opened #108 "AutoProxy_Cleanup frees already freed memory resulting in Excel crash"
WebHelpers AutoProxy_Cleanup will try to free any used memory without setting pointers to 0 after the free, see code at https://github.com/VBA-tools/VBA-Web/blob/master/src/WebHelpers.bas#L2785

This has been observed when having a proxy pac file that does not exist and the error handling code is triggered.

As a result the AutoProxy_Cleanup will raise an Error, which results in AutoProxy_Cleanup

[2015-04-14 13:12] timhall commented on #108
Thanks for bringing this up! (I'm wondering if that is what was happening here: https://github.com/VBA-tools/VBA-Web/issues/102)

I think I understand: By not zeroing them out after free, if an error is thrown it will re-run cleanup, see them as not freed (since they are non-zero), and will try to free them again (causing crash). I'll fix this shortly.

Do you know what caused the error in cleanup

[2015-04-14 14:04] japj commented on #108
Yes, I believe we also had 10022 "Unable to download proxy auto-config script", reading #102 I think that indeed is the same problem.

Due to https://github.com/VBA-tools/VBA-Web/blob/master/src/WebHelpers.bas#L2805 an Error is thrown in case of an Error occured. However, the first time you execute AutoProxy_Cleanup might be due to 'normal' flow, while the second is due to the Err.Raise (which tri

[2015-04-15 22:06] #108 closed

[2015-04-22 14:49] blonkm opened #110 "No mapping for the Unicode character exists in the target multi-byte code page"
I get this error on line 130 of WebResponse.CreateFromHTTP

My url is https://api.schoology.com/v1/sections/138687397/submissions/138687411/13494978?with_attachments=true

The status code is *unauthorized*, but I have done plenty of requests that are authorized and return valid json, just not this one.

[2015-04-22 23:51] timhall commented on #110
Wow, that's an interesting error message. Just to confirm, this is the `Me.Content = Http.ResponseText` line? I wonder if the `with_attachments` is sending raw bytes that are trying to be coerced into a string (`Content`) when that isn't applicable. I haven't tested file attachments with VBA-Web so that may be causing some unexpected issues.

As for it being unauthorized, I'm not sure why that wou

[2015-04-23 01:59] blonkm commented on #110
No that's not really how it works. The id is a student id. This response is showing me an attachment that a student uploaded with an assignment. However, according to Schoology the API should only list the attachment url, not the actual raw data of the file. Yes I am setting an Authorization header.

According to them I should get an output as follows, in which I don't see strange characters:
[cod

[2015-04-23 12:53] timhall commented on #110
Are you using the three-legged or two-legged approach from here: https://developers.schoology.com/api-documentation/authentication?

[2015-04-23 20:33] grv87 commented on #97
Doesn't work when I use it like this:
[code]
`kv("NAME")` is already mojibake -- something like ??N?????N??. `Asc(Mid(sStr, l, 1))` gives 63, as is for question mark.

[2015-04-24 00:15] blonkm commented on #110
I haven't looked, but from memory it's the two-legged. I remember just picking the easiest one. I'm not making any enterprise stuff here. I can send you the full module code if you like.

[2015-04-26 15:06] efuturetoday opened #111 "Request.AddBodyParameter throws Error 5"
Request.AddBodyParameter throws Error 5!

Sub a()
Dim Client As New WebClient
Client.BaseUrl = "http://test.com/API/"

Dim Request As New WebRequest
Request.Resource = "Link.php"
Request.Method = WebMethod.HttpPost
Request.Format = WebFormat.FormUrlEncoded

Request.AddBodyParameter "user", strUsername
Request.AddBodyParameter "pass", strPassword
Request.AddBodyParameter "func", strfunc
Request.Add

[2015-04-26 15:43] timhall commented on #111
Strange, do you know what line the error is occurring? Is it happening on the first `AddBodyParameter` or at `Execute`?

If it's happening on `AddBodyParameter` it could be from not having VBA-Dictionary added / Scripting.Dictionary referenced.

If it's happening on `Execute` it could from url-encoding which could be a bug that needs to be resolved.

To determine the line that it occurs: When the

[2015-04-26 15:58] efuturetoday commented on #111
i tested the snipped with the original VBA-Web - Blank.xlsx and with the installer on a new File.
The Error occured at: Dictionary.cls :
Public Property Let Item(Key As Variant, Value As Variant)
#If Mac Or Not UseScriptingDictionaryIfAvailable Then
    If Me.Exists(Key) Then
        ReplaceKeyValue GetKeyValue(Key), Key, Value
    Else
        AddKeyValue Key, Value
    End If
#Else
    ----->pDi

[2015-04-26 16:00] efuturetoday commented on #111
now i added the reference to "microsoft Scripting Runtime" -> the same error

[2015-04-26 17:17] timhall commented on #111
Ok, great investigating, I think we're getting closer. What was the value for `Key` when that occurred?

[2015-04-26 17:29] efuturetoday commented on #111
the strange things is, that the value in the Debugger(Watch) says "Variable uses a type not supported in Visual Basic (Error 458)"

[2015-04-26 17:53] timhall commented on #111
That's definitely strange, but should be safe for me to update the library with so I'll do that soon. Glad you were able to fix it!

[2015-04-26 17:57] efuturetoday commented on #111
ty for your time and your efforts to improve this great OpenSource lib!
Its a very nice and helpful peace of software that you offer!

[2015-04-28 19:42] hrvojesolc commented on #106
Hello Tim!
I had no useful information from the appliance vendor so far to help me troubleshoot the issue. Colleague of mine suggested packet capture. We did that with a simple test against both appliances (one using self-signed cert, and problematic one that had a CA signed cert). The one that has a CA signed cert did not offer a cRL via extension in packet trace (compared to packet capture when

[2015-04-28 20:06] hrvojesolc commented on #106
Just sharing research and though process here publicly. Tim, no need to look at it unless you are interested any have time...
Seems that cert revocation list should be client optional according to this:
Reference: http://social.technet.microsoft.com/wiki/contents/articles/4954.windows-xp-certificate-status-and-revocation-checking.aspx

Since our trace confirms that cRL is not even presented from t

[2015-04-29 03:06] hrvojesolc commented on #106
Hello Tim,
I managed to confirm the problem is with VBA-Web WebClient object implementation and not with WinHttp.WinHttpRequest.5.1 that WebClient uses. I found a piece of code (http://www.808.dk/?code-simplewinhttprequest) that implements WinHttp.WinHttpRequest.5.1. From this reference, I copied the function on that page, as-is, to the VBA project test sheet. I have one button that uses 808.dk ex

[2015-04-29 13:30] timhall commented on #106
@hrvojesolc Thanks for looking so deep into this! The only differences I'm seeing are the redirect options in the example you gave. If you don't mind, could you try the following in place of the security at WebClient.cls:500:

[code]

[2015-04-29 14:07] hrvojesolc commented on #106
I did, compiled, reset and tried again. Still same run-time error on Ln 276. :(

[2015-04-29 22:45] bdr99 commented on #111
I am having this same error but only on 64 bit office. The same file works fine on 32 bit office.

[2015-04-29 22:47] efuturetoday commented on #111
did my fix worked for you ? iam using 64 bit 2013 Excel

[2015-04-29 23:01] bdr99 commented on #111
I just tried it and yes, it works. Strange that it only happens on 64 bit office.

[2015-05-05 19:33] #111 closed

[2015-05-15 14:23] timhall opened #115 "Digest Authenticator fails to handle find/process WWW-Authenticate header"
Received the following revisions via email for someone testing against SOAP service.

[code]

[2015-05-18 01:31] #115 closed

[2015-05-18 01:50] timhall commented on #110
Ok, I've looked into this more and it appears to be a UTF-8 encoding issue (converting from UTF-8 to Unicode). I'm investigating a deeper fix that will work for both Windows and Mac, but in the meantime, the following should solve your issue if you're running on Windows:

[code]

[2015-05-18 15:16] Codefornewbies commented on #63
Hi I am trying to run this POST code, but it is showing errors:

         Function Creditrating(CompName As String) As String
         Dim companyname As String
         Dim strQuery As String
         Dim googleService As New MSXML2.XMLHTTP
         Dim rspText As String
         companyname = URLEncode(CompName)

     strQuery = "https://api.infoconnect.com/v1/companies/search?apikey=4iRztNp5euN

[2015-05-18 15:35] blonkm commented on #110
Thanks, I'll try this. I've been pestering the help desk of the API provider, so they'll be happy if this works.

[2015-05-18 16:23] timhall commented on #63
Hi @Codefornewbies, here's your code with VBA-Web:

[code]

It looks like the `setRequestBody` in your code is not valid json, which code be causing your error. As far as the display fields, casing is important (e.g. your code uses `Companyname` where it should be `CompanyName`) and from my testing it doesn't always return values for the requested fields (e.g. didn't return `Assets` for "Doran Mec

[2015-05-18 16:58] sssh opened #117 "Error in JSON string while using WebHelpers.ConvertToJson()"
I am trying to upload certain parameters to a web service from Excel macro as JSON. However when I use WebHelpers.ConvertToJson(RDict) function where RDict  is a dictionary consisiting of Key, Value pairs,  I am facing the following issues in the converted JSON string:
cm ³  is converted cm3, 90% is converted to 0.90. It would be great if any one could suggest a solution for this.

[2015-05-18 17:24] timhall commented on #117
VBA-JSON does it conversions based on the underlying data type for the values and shouldn't actually convert values that are passed into it. That seems more like the difference between the `Value` that Excel stores for a cell and the formatted `Text` that is displayed. I'm not sure of you code, but here's an example:

[code]

[2015-05-18 17:24] #117 closed

[2015-05-18 19:47] Codefornewbies commented on #63
Hi Tim,

Thanks a lot for pointing out the mistakes.
However it is showing Compiler error : "user-defined type not defined". Is
there any additional reference which I am missing over here or is it
because of something else?

Regards
Deepshikha
On 18-May-2015 9:53 pm, "Tim Hall" <notifications@github.com> wrote:

[2015-05-18 20:01] timhall commented on #63
It could be that you're missing VBA-Web? I used `VBA-Web - Blank.xlsm` for the [most recent release](https://github.com/VBA-tools/VBA-Web/releases) to test the above code or you could install VBA-Web in your Excel project with `VBA-Web - Installer.xlsm`.

[2015-05-23 20:43] lukashalim opened #118 "Documentation for where to put credentials"
I was testing the Twitter example and had a tough time figure out where to put my credentials. At first I assumed they would be pulled from credentails.txt, but the code doesn't seem to work that way. I just pasting them as strings into TwitterClient() in the Twitter module.

[2015-05-25 14:20] mwoollen opened #119 "Load Credentials.txt Split ":""
Ahoy... There is a "Split" call within the Load() function of the Credentials Module.

The line
                Parts = VBA.Split(Line, ":")
Splits the Line into a possible unlimited number of parts... depending the number of ":" characters.  However, I believe that the desired result is to Split the Line into just 2 parts... the Key and Value.  Right?  For example, what if you wanted a Value that

[2015-05-25 15:32] timhall commented on #119
Cool! Didn't no `Split` has a `Limit` parameter, this may cleanup a few places in the code base and I'll fix this bug.

[2015-05-25 20:03] mwoollen commented on #119
Cool.  I dig your toolkit.

[2015-05-27 13:08] sssh opened #120 "Install/ Update VBA-Web on password protected VBA projects"
I am trying to integrate VBA-Web into an excel workbook whose macro code is password protected. When I try to install modules, installer throws error that workbook is password protected.
Is there a way that I can tinker the installer module(hard code the password), so that I the installer work with protected workbook also?

[2015-05-27 15:04] timhall commented on #120
This might work if you already have the workbook open and unlocked before running the installer, but I'll check and either add some notes or a way to supply the password.

[2015-05-27 15:19] timhall commented on #118
It should work from credentials.txt if you save it in the same location as "credentials - example.txt" and enter the `key` and `secret`. Here's how that portion of mine looks:

[code]

If that's not working, can you put breakpoints on the lines in `TwitterKey` of `Twitter.bas` that contain `Credentials.Loaded` and `Credentials.Values("Twitter")("key")` and check if the credentials are being loaded

[2015-05-29 10:18] sssh commented on #120
I found a way to unlock password protected sheet from here . But not yet able to integrate this to my VBA-Web installer.
Private Declare Function FindWindow Lib "user32" Alias "FindWindowA" _
(ByVal lpClassName As String, ByVal lpWindowName As String) As Long

Private Declare Function FindWindowEx Lib "user32" Alias "FindWindowExA" _
(ByVal hWnd1 As Long, ByVal hWnd2 As Long, ByVal lpsz1 As String

[2015-05-30 14:30] #119 closed

[2015-05-30 14:43] #106 closed

[2015-05-30 14:57] timhall commented on #106
Hi @hrvojesolc I'm not quite sure if this issue is resolved for you yet, but someone contacted me by email with the same error and the patch fixed it for them so I'm closing this for now. If it doesn't work for you and you're able to find out anything more I'll be happy to reopen and look at it more.

[2015-05-30 14:58] timhall commented on #118
Hi @lukashalim I'm closing this for now, but let me know if you're able to get credentials.txt working for you.

[2015-05-30 14:58] #118 closed

[2015-05-30 14:59] timhall commented on #99
Closing this as I'm not working on it at the moment, but I'm happy to take a PR for it.

[2015-05-30 14:59] #99 closed

[2015-06-01 09:38] sssh commented on #120
@timhall , Any suggestion on where to put unlock code in the  installer module? I am still not able to sucessfully unlock the project before installation with the above code.

[2015-06-02 10:24] percy1984 opened #123 "Regional Settings - decimal separator: 3.14 ==> 3,14"
Hi, I'm using VBA-Web on a computer with dutch regional settings. The server I'm contacting is using US english regional settings and expects all requests to be in US english. I noticed that the "3.14" was translated into "3,14" (dutch decimal separator is the comma, not the dot).

I'm not certain how and if this can be solved. I solved it for now by changing my regional settings to US english (wo

[2015-06-02 12:43] timhall commented on #120
Hi @sssh I'm not sure, but you could probably add your code to the end of `OpenWorkbook` in `Installer.bas`.

[2015-06-02 13:33] timhall commented on #123
Where is this conversion happening (JSON-to-VBA, VBA-to-JSON, somewhere else)? I had this issue in VBA-JSON (https://github.com/VBA-tools/VBA-JSON/issues/10), but I thought it was solved. Happy to work with you on this.

[2015-06-02 14:28] percy1984 commented on #123
Hi Tim,

It happens in Specs_WebRequest:
With Specs.It("AddQuerystringParam should allow Integer, Double, and Boolean types")

The expectation expects the decimal 3.14 as 3.14, but it retrieves it as 3,14 on my regional settings.

.Expect(Request.FormattedResource).ToEqual "?A=20&B=3.14&C=true"

[2015-06-02 15:15] percy1984 commented on #123
From the Immediate Window:
Expected a=1&b=3%2C14&c=Howdy!&d+%26+e=A+%2B+B to equal a=1&b=3.14&c=Howdy!&d+%26+e=A+%2B+B

I traced it down to URLEncode(3.14) is using VBA.CStr(3.14) which puts in the comma as CStr is regional settings "aware" and then the comma gets url-encoded to %2C

[2015-06-02 15:54] timhall commented on #123
Ah, good find. Ok, I'll fix this shortly

[2015-06-03 14:30] sssh commented on #120
I tried the same with send keys method. This is what I did in OpenWorkbook in installer.bas
If ins_FileExists(WorkbookPath) Then
            ins_ScreenWasUpdating = Application.ScreenUpdating
            Application.ScreenUpdating = False

            Set OpenWorkbook = Application.Workbooks.Open(WorkbookPath)
            pwd = "qwas"
            OpenWorkbook.VBProject.VBE.CommandBars(1).FindContr

[2015-06-03 14:38] sssh commented on #120
@timhall Found a simpler alternative with send keys method to unlock the project. This is what I did in OpenWorkbook in installer.bas
If ins_FileExists(WorkbookPath) Then
ins_ScreenWasUpdating = Application.ScreenUpdating
Application.ScreenUpdating = False

Set OpenWorkbook = Application.Workbooks.Open(WorkbookPath)
pwd = "pass"
OpenWorkbook.VBProject.VBE.CommandBars(1).FindControl(ID:=2578,
recur

[2015-06-05 08:11] erikb999 opened #124 "Communication errors on Windows 8.1"
Has anybody had problems on Windows 8.1? I get sporadic "The buffers supplied to a function was too small" or "An error occurred in the secure channel support" in a VBA-Web solution that works fine on the same Excel versions (2007, 2013) on Win 7 and Win XP. The error seems to occur in the communication code in WebClient.

/Erik

[2015-06-15 11:21] mmustala opened #125 "POST fails on Mac but succeeds on Windows"
Hi,

I'm using VBA-Web to post sheet in csv and images as base64 encoded strings to my web server. The server responds with an empty JSON with status 200. When using the macro in Windows Excel 2003 it works ok but on Mac Excel 2011 I get an error

    Run-time error '-2147210493 (80042b03)':
    Method 'Execute' of object 'WebClient' failed

The debug is highlighting the row with

    Set response

[2015-06-15 11:41] timhall commented on #125
I've had some issues with Excel for Mac eating the detailed error messages and reported that generic one. To get the full error, open the Immediate Window from the VBA Editor and that should contain the full error message. If you could post that, I'll try to figure out what's happening.

[2015-06-15 11:48] mmustala commented on #125
Here is the error message from the immediate window.

[code]

[2015-06-15 13:35] timhall commented on #125
Hmm, can you put a breakpoint in `WebResponse:171` and look at the raw response (Immediate Window > "? Result") and then see which step (Status Code/Description, Content, Body, Headers/Cookies) is throwing the error? I'm thinking it's something with the `StatusCode` so seeing the raw response would be helpful.

[2015-06-16 07:19] mmustala commented on #125
I added some debug prints to the code. The code looks like this now:

[code]

And it produced a log below. There is first a successful post for sending the sheet in csv format and then the failed post for sending the image.

[code]

So it looks like parsing the content fails because the response has a blank line after the `HTTP/1.1 100 Continue` line and the code expects the first blank line to be

[2015-06-16 15:37] janandjohn3 opened #126 "Cannot install VBA-Web into Access database"
The current installer doesn't allow you to install VBA-Web into Non-Excel files. We would like to use this in Access and it would be easier to install or update automatically, instead of adding the source files manually to the project.

[2015-06-18 14:06] timhall commented on #126
Hi @janandjohn3 just noticed that Access is in the Office 2016 preview, so I can work on this (I didn't have access to Access previously and had relied on others for checking compatibility).

[2015-06-18 14:09] timhall commented on #125
Thanks for including all of the debugging. Strange, so it includes both 100 and 200 in the same response? (I've never worked with status code 100 before, but didn't think that was normal) I'll look into a way to handle this case.

[2015-06-18 15:26] mmustala commented on #125
It looks like others have had similar issues with cURL and 100 Continue responses. http://stackoverflow.com/questions/2964687/how-to-handle-100-continue-http-message

Maybe just remove the header if it exists?

[2015-06-18 16:57] timhall commented on #125
Good find, that looks like that's the issue and glad to see it's cURL's default (even though it doesn't really make sense) so that I can work around it consistently. Will fix shortly.

[2015-06-19 20:44] #125 closed

[2015-06-20 16:25] #123 closed

[2015-06-25 21:16] GustaVelho opened #129 "Capture User Data (Bio, Followers, etc) using GET to search/tweets.json"
Hello,

This is not a real issue, in fact I just need a little help. I'm not a developer :) which makes this tool really useful since it already contains several scripts ready to be used.

So let's go! I could make the Twitter search to work, and I'm downloading the content of tweets with the query I want. But I'm willing to also get the User data (Bio, Followers, etc). I see that this information

[2015-06-26 10:23] sssh opened #130 "Webhelpers.ConvertToJson() Issue"
I am trying to convert a dictionary to JSON using WebHelpers.ConvertToJson() method like below .
Dim RDict As New Dictionary
RDict.Add "testkey1", "test/value/1"
RDict.Add "testkey/2", "test/value/2/"
Below is the JSON string I am getting:
{"testkey1":"test\/value\/1","testkey/2":"test\/value\/2\/"}
'/' in the value is getting converted as '\/'.It would be great if anybody suggest a solution for t

[2015-06-26 16:10] GustaVelho commented on #129
I could figure it out how to do it!
For Each Status In Results("statuses")
        Sheet1.Cells(Row, TwitterResultsCol).Value = Status("user")("description")
        Row = Row + 1
    Next Status

Pretty simple, for a developer (which I'm not! lol). Anyway the tool is great, thank you very much and congrats on your work.

[2015-06-26 16:10] #129 closed

[2015-06-26 17:58] timhall commented on #129
@GustaVelho Thanks for the kind words, glad you got it working! I'll add that detail to the example in the future.

[2015-06-26 18:00] timhall commented on #130
Hmm, I'll look more into this, I think that is in the JSON spec, but I'm not sure.

[2015-06-26 18:10] timhall commented on #130
Ok, after re-reading the spec, it the "solidus" `/` CAN be escaped with `\/` (and has in the past for html/xml compatibility), but it isn't required.

I've added an issue on VBA-JSON to make it optional: https://github.com/VBA-tools/VBA-JSON/issues/14

- http://json.org/
- http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf

[2015-06-27 14:39] blonkm opened #131 "StatusCode 303"
I get a statuscode=303 ('see other') returned from a request. The response contains the redirect location in the headers. The redirect is not followed to the new location. I can manually do that by extracting the location and then doing another request. Can this be built into the default status codes so the redirect is properly performed?

[2015-06-29 12:29] sssh commented on #130
@timhall  Thanks for the response. Is there any immediate fix I can apply to resolve this?

[2015-06-29 13:50] timhall commented on #130
You can comment out line ~2195-2196 of WebHelpers to remove the encoding.

[2015-06-30 15:08] sssh commented on #130
@timhall Thanks for that tip! It worked.

[2015-06-30 17:29] dankiest opened #132 "doubt about this library"
Can i use this to consume a soap web service in access?

[2015-06-30 21:01] timhall commented on #132
I have had success with rudementary support for SOAP requests in the past. To enable XML support on Windows (Mac isn't supported at the moment), see the following: [XML Support in 4.0](https://github.com/VBA-tools/VBA-Web/wiki/XML-Support-in-4.0). I've looked into writing an example, but haven't found a suitable public API to work with, so suggestions would be great.

If you had more specifics on

[2015-06-30 21:01] #132 closed

[2015-06-30 21:03] timhall commented on #131
Hi @blonkm I originally turned off redirect following to make the Windows and Mac behavior match, but after reading more there are flags available for cURL that might make it work. I'll continue researching it and update this issue soon.

[2015-07-08 06:34] mmustala opened #133 "Base64Encode an image string works in Windows but not in Mac"
I tried to use the Base64Encoding function for a string containing image file bytes.

    file = FreeFile()
    Open ThisWorkbook.Path & dirSeparator & "temp_receipt.jpg" For Binary As #file
        imageString = Input(LOF(1), #file)
    Close #file
    encoded = Base64Encode(imageString)

This works in Windows but not in Mac.

In Mac the base64 encoding is done with these lines in the WebHelpers

[2015-07-09 20:43] rocketaero opened #134 "Dictionary Setup for multi-level json"
I need to build a dictionary for the body to pass the following to POSTJSON

[code]

I am not sure how to do this.  Any help would be awesome,  thank you

FYI, this is my code, i have it working with a GET so I think my authentication is fine but can't seem to get this POST to work.

[code]

(added syntax highlighting)

[2015-07-09 20:51] timhall commented on #134
It looks like the problem is that `jsonBody` is a string so it will be wrapped in `"` when `Body` is converted to JSON. The best route is to add fulfillment as an additional `Dictionary`:

[code]

VBA-JSON will handle the convert the nested Dictionaries to the expected JSON string.

[2015-07-09 20:53] rocketaero commented on #134
Fantastic, I will give this a try, thank you

[2015-07-09 20:54] #134 closed

[2015-07-09 22:54] rocketaero commented on #134
Not sure how to do this in reverse to get the Returning JSON back to 2 different Dictionaries?  I am trying but no luck, I can't Cstr the Dictionary so I am stuck.

    Resource = "orders.json"
    Set Response = OrdersClient.GetJson(Resource)

    Dim newData As Dictionary
    Dim newnewData As Dictionary

    Set newData = ParseJson(CStr(Response.Content))
    Set newnewData = ParseJson(newData)

[2015-07-10 06:23] rocketaero opened #135 "ParseJson Handle more than one set of records at a time?"
Never mind, I figured this out

[2015-07-10 06:50] #135 closed

[2015-07-10 13:02] timhall commented on #134
I'm not quite sure what the response looks like, but, for example, to get the id of the first order in the example response below, you would use the following:

[code]

[code]

[2015-07-10 13:14] timhall commented on #134
Generally, you shouldn't need to directly use `ConvertToJson` or `ParseJson` since `Body` is automatically converted from `Dictionary`/`Collection` to JSON based on `Request.Format = WebFormat.Json` or `Request.RequestFormat = WebFormat.Json` and the response `Content` is automatically parsed to `Dictionary`/`Collection` based on `Request.Format = WebFormat.Json` or `Request.ResponseFormat = WebFo

[2015-07-10 14:12] kunicki opened #136 "Office 2016 and Mac"
I know this just came out, but I was curious if there are plans to test the code on mac office 2016. I tried some things, but it didn't seem to work. I am learning the code, but I don't know what the issue is at this time.

[2015-07-10 18:07] rocketaero commented on #134
Yea I figured this out using the Collection object.  The code is working very well for me, thank you so much!

[2015-07-11 01:47] timhall commented on #136
Hi @kunicki I haven't tried it in Office 2016 for Mac yet (my Mac's incompatible). If you don't mind, could you open and run `specs/VBA-Web - Specs.xlsm` and let me know if you have any errors or failing tests?

[2015-07-11 04:35] kunicki commented on #136
Hi Tim, first just let me say this is a brilliant piece of work. I ran the spec tool and it errors out with the following line;
[code]
An the debug window shows:
[code]

I traced the problem to WebResponse.web_ExtractResponseTextFromCurlResponse private function and it errors on this line:

[code]
web_BlankLineIndex evaluates to 2, and UBound(web_CurlResponseLines) evaluates to 1. Thus the combina

[2015-07-20 14:58] vsfchristian commented on #136
Hi Tim, we just migrated to Mac Office2016 and now running into the same issue as described by kunicki.
I've also tried to update from v.4.0.11 to 4.0.13 (by using installer.xlm) but also failed due to a error by locating my working file..
Any hint how to solve it.

Thanks
Christian

[2015-07-20 17:14] timhall commented on #136
I've resolved the test issue, but it was an issue in the tests and not the library (I got the same error in Mac 2011). I'm not sure what the issue could be with Mac 2016, are you getting any other errors that I can take a look at?

For debugging help, see https://github.com/VBA-tools/VBA-Web/wiki/Debugging

@vsfchristian regarding the upgrade issue, what error(s) did you receive when attempting to

[2015-07-20 19:49] vsfchristian commented on #136
When i klick "install/update" I got: ERROR 1004: 'MACINTOSH HD:USERS:.....:DOCUMENTS:VSFEXPERTS:PROJECT_CONTROLLING:VSF CONTROLLING 2015:2015_EMPLOYEE_AUTOREPORT.XLSM' could not be found.Check the spelling of the file name, and verify that the file location is correct.

I picked up the file location by using "browse" button

[2015-07-20 21:18] timhall commented on #136
Ok, thanks that helps narrow it down. I'll look into it

[2015-07-21 20:46] bdr99 opened #137 "AddBodyParameter sometimes doesn't work on first try"
I have a spreadsheet which sends a POST request that contains body parameters. I am using Fiddler to analyze the traffic sent by VBA-Web. Occasionally, my requests are being sent without the body parameters. When this happens, the request is just sent with an empty body and Content-Length is 0. It happens almost every time I first open the spreadsheet. It always works if I try again a second time.

[2015-07-22 00:37] zippy1981 opened #138 "Break out the logging functions to their own github project"
The logging methods are useful outside of this library. How about a separate log4vba project?

[2015-07-22 00:38] zippy1981 opened #139 "Add array to range method."
It would be nice to turn an array of dictionaries to a range or a table.

[2015-07-22 17:24] timhall commented on #138
Hi @zippy1981 thanks for the suggestion and glad you found them useful, I'll split them out soon.

[2015-07-22 17:25] timhall commented on #139
Do you have an example of how to do this? I've converted a Collection of Collections into a 2D array for setting to a range, but I'm not sure what the expected ordering for columns would be for an array of Dictionary.

[2015-07-22 17:27] timhall commented on #137
Interesting, I have been getting this occasionally with the test suite, but I figured (incorrectly) that it was a problem with httpbin.org. I'll dig in and see what I can find.

[2015-07-22 17:42] zippy1981 commented on #139
I don't have code for this. Maybe [fastJSON](https://github.com/alibaba/fastjson) might .give a C# example, but that's using anonymous types. I would suggest the following (PSuedo code):

    public Function ToRange(ByVal arr as Variant, ByVal rng As Range, Optional columns() AS String)
        If columns.Length = 0
        Redim columns(arr(1).Keys.Length) as String

        ' Fill in headers

[2015-07-22 17:45] zippy1981 commented on #138
Great!. I'm working on porting [ProcMonDebugOuput](https://github.com/Wintellect/ProcMonDebugOutput) over so you can log messages to Procmon from VBA. That might have a place there.

[2015-07-23 00:15] bdr99 commented on #137
Thanks. It's reassuring to hear that you have also encountered this bug.

[2015-07-23 19:07] zippy1981 opened #140 "Modify the installer to install the blank workbook as an xltm"
I can work on this if you think its a good idea. Basically, have the installer workbook have an option to make a workbook template called %appdata%\Microsoft\Templates\VBA-WEB.xltm and then copy the files over there.

Apparently you can't just rename an xlsm to an xltm and have it work. I think it would be kind of waseful to have a third excel file in the git repo, but that's certainly an option.

[2015-07-23 19:25] zippy1981 opened #141 "Installer XLSM Silently fails to install class modules if they aren't present in the same folder"
I extracted just the installer xlsm from the zip file and it would only install the dictionary to a workbook. However, it didn't give any kind of error message.  I eventually figured out it copied the cls file from the file system. The installer should give an error if it can't find the files.

[2015-07-27 20:15] Quadrature opened #142 "Having trouble getting XML parsing working in Windows"
I have followed the instructions outlined in https://github.com/VBA-tools/VBA-Web/wiki/XML-Support-in-4.0 but when I debug, the function in WebHelpers:

Public Function ParseXml(Encoded As String) As Object

is getting called by WebHelpers.ParseByFormat

Case WebFormat.Xml
        Set ParseByFormat = ParseXml(Value)

Any guidance on how to apply the 4.0 workaround? Please forgive if this is not th

[2015-07-27 23:53] timhall commented on #142
Hi @Quadrature after setting up the custom formatter, you use it as follows:

[code]

Let me know if that still isn't working for you.

[2015-07-27 23:53] #142 closed

[2015-07-27 23:54] timhall commented on #141
I agree, it should give an error when it can't find the files. I'll update it shortly.

[2015-07-28 00:03] timhall commented on #140
I was able to save-as the `VBA-Web - Blank` workbook as a xltm (rather than simply renaming). I'll play with it to see if I'm able to install into an existing xltm and if so, I'll relax the file picker options in the installer so that it can work with with xltm.

[2015-07-28 00:30] timhall commented on #139
Hi @zippy1981 I don't think a built-in approach to this fits with VBA-Web, but the following converts an Array of Dictionaries to a 2D array that can be saved to a range:

[code]

[2015-07-28 00:30] #139 closed

[2015-07-29 17:22] zippy1981 opened #143 "Should WebHelpers have a function for checking redirects?"
Its sometimes useful to know if a url is a redirect. I wrote a method for doing. that. I'd have to change it to use CreateObject(), but would you want one here? What would you like the signature to be?

http://stackoverflow.com/a/31592267/95195

	Public Function GetResult(ByVal strUrl As String, Optional ByRef isRedirect As Boolean, Optional ByRef target As String) As String
		Dim oHttp As New Win

[2015-07-29 17:41] mwoollen opened #144 "GetObject() in Salesforce module conflicts with another Reference"
Hello... I believe that the GetObject() in Salesforce module conflicts with another Reference, I believe OleAutomation object.  Since the GetObject() function in the Salesforce module is not used and not called anywhere else... I recommend simply renaming that function.  I have done so in my local copy.  Cheers!

Mark

[2015-07-31 00:01] timhall commented on #144
Thanks @mwoollen should have figured such a common method name was used somewhere, I'll change it soon

[2015-07-31 00:25] timhall commented on #143
(Related: I'll be re-enabling redirects soon, see #131). I would rather add `HttpHead` to `WebMethod` so that the above can be done with VBA-Web:

[code]

Not necessarily the most elegant method, but works on Windows and Mac. Do you want to send a PR adding `HttpHead` to `WebMethod` and `HEAD` to `MethodToName`? (Bonus points for a test using http://httpbin.org/redirect/1) Thanks!

[2015-07-31 00:29] VicSmith commented on #131
Thanks Tim, that would be great... Just had a situation  where the re-direct catches me.

I wrote a link shortener like bit.ly.... It tracks all traffic... but it re-directs to a web service.

[2015-07-31 01:29] timhall commented on #133
@mmustala Thanks for bringing this up and I'm glad you found a fix. I hadn't tried Base64 encoding files, so this is interesting. I was worried that there could be encoding issues passing strings to and from the shell, I'll add a few test cases to try and identify the issue.

[2015-07-31 02:13] timhall commented on #124
Sorry for delay, the first error looks like a low-level .NET error:

https://github.com/jstedfast/MailKit/issues/197
https://github.com/dotnet/corefx/issues/1854

The second has a little more information from Microsoft:

https://support.microsoft.com/en-us/kb/198970

I'm not sure why it only fails on Windows 8.1, but I would look into the certificate issue. Let me know if you're able to find out m

[2015-07-31 02:13] #124 closed

[2015-08-01 03:01] zippy1981 opened #145 "Proxy setting don't appear to be respected"
I'm setting a proxy on the webclient (http://localhost:8888 which is foddler.exe), and it doesnt seem to be respected.  I'll troubleshoot.

I'm also going to try to autodetect the proxy settings from Wininet .

[2015-08-02 17:23] bdr99 commented on #145
Did you set Client.EnableAutoProxy = True for your client?

[2015-08-02 23:45] timhall commented on #145
I've had some issues with Fiddler in the past (don't have it installed at the moment to test):

1. Fiddler doesn't capture localhost traffic (I'm not sure if this applies to your case, but it was my issue): http://docs.telerik.com/fiddler/Observe-Traffic/Troubleshooting/NoTrafficToLocalhost
2. It should work directly with `Client.ProxyServer = "..."`, but an alternative is to follow these instruct

[2015-08-02 23:45] #145 closed

[2015-08-04 12:57] Bazuum opened #147 "Encrypted Credentials"
Hi,
Iam using "HttpBasicAuthenticator" to connect to a Rest-API.
Therefore, the username and password is decrypted in the sourcecode.
Same with credentials for the Proxy. Decrypted IP, Username and password here too.

Am i doing something wrong or is it normal to write passwords without encryption in the source code?

[2015-08-04 15:02] timhall commented on #147
@Bazuum the most secure method would be to not store the password at all and have the user enter the password in a userform with a password field. I personally keep them out of the workbooks in a separate txt file so that I don't accidentally check them in to Github, but this is probably the least secure method so I wouldn't necessarily recommend it. Another option along the same lines is to store

[2015-08-04 15:02] #147 closed

[2015-08-06 19:43] mauriciojxs opened #148 "CreateNonce not randomizing"
Hello,

Nice work with the VBA-WEB.
Here I had some issues with the `CreateNonce` function in **WebHelpers.bas**
I noted that the same nonce would be created in subsequent calls to the functions (mainly while debugging my code). By reading the VBA.Rnd documentation, I assume that it is needed to randomize the seed in the beggining.
Here in my code I added a `Randomize` command just before the `For

[2015-08-07 00:42] timhall commented on #148
Could you include your implementation? I haven't heard of issues with `Rnd`, but I'm happy to fix it.

[2015-08-07 13:40] mauriciojxs commented on #148
For stranger that this is, I disabled the `Randomize` call, and it is now working normally, even without that...
BTW, I tried to attach the files, but it doesn't accept, so I put the code directly here

[code]

And now the functions that call it

[code]

[code]

[2015-08-10 03:23] bdr99 opened #149 "URL Decoding causes problems with cookies"
I ran into this problem when I was writing a macro that authenticates to a web service which requires a session cookie. The session cookie is a string of characters which sometimes includes a plus sign. These plus signs are getting changed to spaces when the cookie is saved to the response's `Cookies` Dictionary. I worked around it by using something like `sessionCookie = replace(sessionCookie, "

[2015-08-10 19:10] timhall commented on #149
Hi @bdr99 I have been reading more about cookie encoding, http://tools.ietf.org/html/rfc6265#section-4.1.1, and it looks like the existing url decoding for cookies in VBA-Web goes a little too far (leading to issues like "+" being decoded incorrectly in your case). I'll update the library with more cookie-specific encoding/decoding shortly, thanks for raising this issue.

[2015-08-10 19:11] timhall commented on #149
(Also, thanks for the detailed issue, including a test case!)

[2015-08-10 19:38] bdr99 commented on #149
You're welcome, glad I could help!

[2015-08-14 14:24] bdr99 commented on #137
Hi Tim, I was just wondering if you've made any progress on this. It is a frustrating issue that I deal with every day, and even a temporary solution (commenting out a line of code, etc) would be very helpful. Thanks.

[2015-08-14 14:39] timhall commented on #137
@bdr99 I haven't been able to reproduce it consistently to really debug what is happening. If you're getting it everyday, I could use some help debugging:

1. Set `WebHelpers.EnableLogging = True` before the request is executed and then check if the body is being sent in the logs in the Immediate Window `ctrl + g`
2. At the end of `WebRequest.AddBodyParameter` (~689), check the current `Body` valu

[2015-08-14 14:57] bdr99 commented on #137
Sure, I'd be happy to help. I'll try these later when I have some time. Thanks.

[2015-08-16 03:18] bdr99 commented on #137
While I was trying to do this debugging, I ran into another problem. I started with a blank copy of `VBA-Web - Blank.xlsm` and added the following code to a new sub:

[code]

This code works fine, sending the following request body:
[code]

But if I add `Debug.Print Me.Body` to the end of `WebRequest.AddBodyParameter`, it only sends the first parameter:
[code]

This made no sense at first. But the

[2015-08-16 12:30] timhall commented on #137
That is definitely a bug and I'll fix it shortly. I too am curious if that is the root cause, it certainly could lead to some unexpected behavior.

[2015-08-16 23:06] bdr99 commented on #137
Thanks. Once this bug is fixed, I will try to help you debug the original issue I was dealing with, if it still exists.

[2015-08-17 00:28] timhall commented on #137
Ok, it's been fixed in [v4.0.14](https://github.com/VBA-tools/VBA-Web/releases/tag/v4.0.14)

[2015-08-17 01:15] #149 closed

[2015-08-17 08:39] mscola75 opened #152 "Excel 2010"
Is this tool compatible with Excel 2010?
I get error messages when opening the Installer workbook: File or Fileformat damaged.

[2015-08-17 12:46] timhall commented on #152
I've tested the library with Excel 2010 in the past and it was compatible, but I haven't tested the installer. A few questions:

1. How did you download the installer? (e.g. downloaded zip from releases, directly with raw)
2. Are any of the other workbooks working? (Blank, Specs, or Examples)
3. Are you able to repair the Workbook?
4. Can you include a screenshot of the error or some more details

[2015-08-17 15:32] mauriciojxs opened #153 "Having array in QueryStringParameters"
Hi Tim,

This is more a question than an issue with your code.

I successfully used your app with `Client.GetJson((Resource))` (while Resource is the string appended to the API URL) to get information from TODOist API. This is the posted URL:
[code]
Now I'm trying to do the same, while making use of the WebRequest functions, but I'm stuck in the `resource_types=` parameter, as it asks for an array

[2015-08-17 16:08] timhall commented on #153
I intentionally left out array support in querystrings and url-encoded as there is no accepted standard (and the generally used form doesn't match TODOist, so it probably wouldn't work anyways).

For you case, I would try the following:

[code]

http://api.jquery.com/jquery.param/ (Includes notes and `traditional` setting)
http://stackoverflow.com/questions/6243051/how-to-pass-an-array-within-a-qu

[2015-08-17 16:08] #153 closed

[2015-08-17 16:38] mauriciojxs commented on #153
In both the links you mention, there are references to arrays in the string. Is there an equivalent of the "serialize" in your library? Besides this [projects] call there are a number of other commands I should pass in the same format.

[2015-08-17 22:00] zippy1981 commented on #138
Can you make an empty project so I can put some ideas for planning this  and start porting stuff over? I figured I could model it after log4net and make appenders for:

* The immediate window
* Applicaiton.StatusBar
* A text file
*  [Process Monitor](https://github.com/Wintellect/ProcMonDebugOutput/blob/master/Source/VBA/ProcMon.bas)
* An xlVeryHidden tab (excel only)

[2015-08-18 21:24] rocketaero commented on #134
I am struggling with storing something like this in a dictionary object for posting.  I need to have the same key more than once for the variants item.  Any help you can provide would be awesome!  Thank you

{
  "product": {
    "title": "Burton Custom Freestlye 151",
    "body_html": "<strong>Good snowboard!<\/strong>",
    "vendor": "Burton",
    "product_type": "Snowboard",
    "variants": [

[2015-08-18 22:05] DamnDam commented on #134
Hi,

You should try something like this.
[code]

The trick is to remember to use Dictionnary for `{}` objects in JSON and Collection for `[]` ordered arrays.

[2015-08-19 03:08] rocketaero commented on #134
Fantastic, thank you so much for our help!

On Tue, Aug 18, 2015 at 4:05 PM Damien Thirion <notifications@github.com>
wrote:

[2015-08-20 01:52] bdr99 commented on #137
I'm actually running into a new problem now. Somehow my WebRequest bodies are becoming malformed. I added `Debug.Print "body=""" & Body & """"` to the end of the `Public Property Get Body() As Variant` line in `WebRequest` at line 463. This is what I'm getting:

![screenshot](http://i.imgur.com/eCmdSH2.png)

At first I didn't even realize that this was a separate problem because it causes my code

[2015-08-20 13:22] timhall commented on #137
Wow, that's very strange. What `Format`/`RequestFormat`/custom formatter are you using? (the default is `WebFormat.Json`)

[2015-08-20 13:25] bdr99 commented on #137
I am using the `FormUrlEncoded` format with three body parameters.

[2015-08-20 17:58] timhall commented on #137
Are you able to send me the parameters/Workbook or a portion of them so that I can try to reproduce locally? (my email is in the code headers) My best guess is some implicit conversion issues between `Variant` and `String`, but I would need to see more to fully diagnosis the bug.

[2015-08-21 21:14] bdr99 commented on #137
Ok, I just sent you an email. Please let me know if I can help in any other way.

[2015-08-25 02:33] timhall commented on #148
I'm not seeing any obvious reason this would fail, closing. (Please feel free to reopen if you run into it again)

[2015-08-25 02:34] #141 closed

[2015-08-25 02:36] timhall commented on #126
@janandjohn3 I've added initial Access support to the installer. It turns out automating Access is pretty different from Excel, but I've gotten it working well when testing locally. If you would like to give it a try and reopen this issue if you run into any problems.

[2015-08-25 02:36] #126 closed

[2015-08-25 02:37] timhall commented on #140
I've verified that the installer works with xltm files, so you should be able to save-as `VBA-Web - Blank` into an xltm and then keep it updated with the installer.

[2015-08-25 02:37] #140 closed

[2015-08-25 02:38] timhall commented on #136
@vsfchristian I've fixed the long path issue in the installer, please reopen this issue if you run into any more issues with Mac 2016 as I don't have a copy to test with.

[2015-08-25 02:38] #136 closed

[2015-08-25 02:40] timhall commented on #152
Closing until more info is received.

[2015-08-25 02:40] #152 closed

[2015-08-25 02:41] timhall commented on #130
This will be tracked in https://github.com/VBA-tools/VBA-JSON/issues/14, closing

[2015-08-25 02:41] #130 closed

[2015-08-25 02:54] #120 closed

[2015-08-25 02:54] timhall commented on #120
Hi @sssh I wasn't able to automate unlocking the VBA project, but I was able to detect if the project was locked and added information on how to work around it in the error message.

[2015-08-25 02:58] #144 closed

[2015-08-26 08:05] mmustala opened #156 "100 Continue issue"
Hi,

Looks like the 100 Continue response is causing trouble again. You fixed one issue related to this in https://github.com/VBA-tools/VBA-Web/issues/125

Now the server is returning two Continue 100 rows before the actual response. The response looks like this

[code]

This may be a result of a change in my server configuration. I changed my web server from Puma to Phusion passenger lately. And

[2015-08-26 09:12] mmustala commented on #156
I changed the web_FindStatusLine function to be like this and now it works. Should work for any response.

[code]

[2015-08-26 11:38] vsfchristian commented on #136
@timhall The installer still does have problems on Excel Mac v15.13.01 (150807)
First issue was an Error 5 while trying to execute  "MacScript(Script)" in Function "FileExists":
----------------------------
Public Function FileExists(Filepath As String) As Boolean
#If Mac Then
    Dim Script As String
    Script = "tell application ""Finder""" & Chr(13) & _
        "exists file """ & Filepath & ""

[2015-08-26 12:46] timhall commented on #136
Thanks so much for testing it, I should be able to fix these issues. One question though, both issues could be related to a file not existing (e.g. 1004 is for file not found), are you sure the path to the file is correct and that the file exists?

[2015-08-26 14:15] timhall commented on #156
Yep, that looks like a much more robust solution than the existing, I'll update the library soon.

[2015-08-28 20:45] mauriciojxs opened #157 "Needs conversion to Unicode before sending to server"
Hi Tim,

I'm having trouble to send chars with accentuation to the TODOist API. This chars are part of the "task description", but the server doesn't recognize the command when I do so.
Here is my logging:

[code]

If I create the task in TODOist website, and get it from VBA-WEB, I could tell they use Unicode (**á** becomes **\u00E1**).
I tried encoding my string to unicode before adding to the ur

[2015-09-01 00:26] timhall commented on #157
Thanks for raising this issue. I think `json_Encode` in WebHelpers could help with this encoding. It is currently a private method, but it's come up before so I may make it public in the future to help with cases like this. In the meantime, I would recommend making json_Encode public in your Workbook and then use that on your parameters before adding them to the url.

[2015-09-01 16:00] mauriciojxs commented on #157
Great, that option worked!

Thanks.

[2015-09-04 05:34] doovers opened #158 "Add example of listening for Server-Sent Events"
I'm not sure if this is possible or not but an example of async listening for server-sent events would be very useful.

I've tried setting Request.Accept = "text/event-stream" and I get a 307 response which I believe is correct but I'm not sure where to go from here...

[2015-09-04 15:36] timhall commented on #158
Hi @doovers I've never used VBA-Web for SSE (nor have I actually used SSE), but I don't think this VBA-Web would be a good use case for it (I think it would take quite extensive internal changes).

I've found the following that I think would help implementing a similar solution in VBA. It's javascript so it would be nowhere near a direct translation, but it uses XMLHttpRequest which is available i

[2015-09-04 15:36] #158 closed

[2015-09-05 15:08] timhall commented on #157
I've been reading more about this and it looks something like `json_Encode` needs to be the default, I'll fix this soon. http://stackoverflow.com/questions/912811/what-is-the-proper-way-to-url-encode-unicode-characters

[2015-09-06 02:14] #143 closed

[2015-09-06 02:38] #156 closed

[2015-09-06 16:51] mauriciojxs commented on #157
Tim, take a look at the reply from Todoist support staff. Apparently, they would accept chars with accents, don't know what could have gone wrong the first time (without json_encode)
https://todoist.com/Support/show/98060/

[2015-09-07 01:00] #131 closed

[2015-09-07 14:12] timhall commented on #138
@zippy1981 Finally got a chance to split out the logging functions, check them out here: https://github.com/VBA-tools/VBA-Log

[2015-09-07 14:12] #138 closed

[2015-09-11 03:34] bvirkler opened #160 "Name collision with LogError"
My project already has a LogError method, and it seems like that would be a common name.  Is there an easy way to avoid this that I'm not aware of?  If not, how about prefixing or otherwise "uniquifying" your method?  I'd be glad to do a pull request.

[2015-09-11 14:14] timhall commented on #160
Hmm, I'll have to think about that. If I change the name it'll break anyone's code depending on it if they upgrade. The best way to avoid it is to qualify your code with the module name (e.g. `YourModule.LogError ...` and `WebHelpers.LogError "abc"`) I've tried to do this internally with `VBA.FnName...` to avoid colliding with any user-defined functions that may have the same name. This is an unfo

[2015-09-12 00:21] bvirkler commented on #160
OK, that will work.  You do have one unqualified call though: https://github.com/VBA-tools/VBA-Web/blob/master/src/WebClient.cls#L720

[2015-09-12 15:00] timhall commented on #160
Ah, good catch. I'll fix that and dig around to make sure there aren't any others.

[2015-09-12 21:38] timhall commented on #148
After reading more about Excel's/Access's `Randomize` and it looks like for true randomness in `CreateNonce`, `Randomize` needs to be called at least once before `Rnd` is called to set a random seed (based on the system clock). Reopening to fix shortly.

[2015-09-13 17:10] timhall commented on #160
(reopening to track issue with non-qualified internal library calls)

[2015-09-15 16:54] pro9er5 opened #161 "NOAA API Example Problems"
Greetings,

I am attempting to access the [NOAA Web Services API] (https://www.ncdc.noaa.gov/cdo-web/webservices/v2) with VBA-Web and am having some issues with timeouts. Can you help? Maybe this would be a good and simple example for your tool.

Here is some example code that keeps timing out:

[code]

Thank You

[2015-09-15 18:07] timhall commented on #161
@pro9er5 Your code looks good to me, I'll try it out locally to see if I can identify why it may be timing out.

[2015-09-15 18:44] timhall commented on #161
I've tried it locally and it seems to be working well (and I agree it makes a great example!). A few things to note:

1. There is some rate-limiting for the NOAA API (see below) so you could be running into this (although that might throw a different error message)
2. The default timeout for `WinHttpRequest` is 60 seconds (I hadn't checked until now and the default for VBA-Web is 5 seconds so I ma

[2015-09-15 18:44] #161 closed

[2015-09-15 20:37] pro9er5 commented on #161
@timhall Thank you for the help. Sounds like this may be an issue with my work environment, i.e., my ability to access the web from excel.

[2015-09-16 01:24] timhall commented on #161
One possibility: If your work is behind a proxy, you could try `Client.EnableAutoProxy = True` to load proxy values automatically.

[2015-09-16 03:59] doovers commented on #158
Thanks for the link Tim. I don't have much free time to look into this just now but when I do I'll certainly let you know if I get it to work.

[2015-09-16 11:13] vsfchristian commented on #136
@timhall Hi Tim, i was able to get down to the problem with the installer in Mac Office16. The Problem with MacScript execution still exist. It seems that MacScript() method is deprecated in new office version and no longer supported. So, I skipped the "File Exists" check for now.

Regarding the ERROR 1004 (file not found) while the installer tried to open the selected workbook, i figured out that

[2015-09-16 13:12] pro9er5 commented on #161
You are awesome. That totally fixed the problem. Thank you!

[2015-09-17 20:51] mauriciojxs opened #162 "Help with OAuth2"
Hello, Tim

I've been working with integration with TODOist API, and so far used the token obtained from the user profile directly. Now I'm thinking on using their authorization procedures to do so.
I tried with OAuth2, that they say it's used on [their page](https://developer.todoist.com/#oauth), but after the request, they reply with a login page in html.
Is it possible to handle this with VBA-W

[2015-09-18 15:01] timhall commented on #162
Hi @mauriciojxs I believe you should be able to do this, but the redirect url is an issue. I have been researching an approach to this where you give essentially a nonexistent redirect url and then use IE's `BeforeNavigate` event to get the querystring values from the URL. I'll do some more research and let you know.

[2015-09-18 15:50] timhall commented on #162
Ok, did a little experiment and I think the following will work: https://gist.github.com/timhall/d309b9e10951e94dd172

Note: I haven't actually tested this yet (don't have a Todoist account), but it should work. Please let me know if you have any issues and I'll update it. (Also, I'll sign up for Todoist later and give it a try)

[code]

Note:
This approach is adapted from http://stackoverflow.com

[2015-09-18 19:11] mauriciojxs commented on #162
Hi Tim,

I changed the code to correct some typos. I detected that the redirect was not being catch by `BeforeNavigation` (don't ask me why) so I converted its code in a sub, and added a trigger in the `DoEvents` area.

Check the new code at https://gist.github.com/mauriciojxs/f27d0595cf4b98fe1933

Now there is a new problem, the TODOist API is not accepting the provided token. I'll read a bit and

[2015-09-18 20:01] mauriciojxs commented on #162
Tim,

I got it working by adding the token in the Querystring instead of the header. So I replaced
`Request.SetHeader "Authorization", "Bearer " & Me.Token` with
`Request.AddQuerystringParam "token", Me.Token`

So now it accepts the token, BUT... it doesn´t interpret my request. I mean, the API gets
`https://todoist.com/API/v6/sync?resource_types=["projects"]&token=TOKEN_GOES_HERE` and is expectin

[2015-09-18 23:41] timhall commented on #162
The querystring params can be added to an existing querystring in the `Resource` so you may be able to workaround that issue with the following:

[code]

[2015-09-19 22:29] blonkm commented on #110
I finally tried this! And... it doesn't work. The result is an error on parsing JSON.

Error parsing JSON on line 485
        Err.Raise 10001, "JSONConverter", json_ParseErrorMessage(json_String, json_Index, "Expecting ':'")

I tried the same url on Google Advanced Rest Client and it worked perfectly. So.... still a problem.

[2015-09-19 22:42] blonkm commented on #110
output from Chrome Advanced Rest Client. I can send you the full response by email if you want to investigate.

**Request**
[code]

**Response**

[code]

**first part of response (raw)**
[code]

[2015-09-20 00:53] mauriciojxs commented on #162
Nice trick! I wouldn't think of editing the resource directly. I'll try
that on Monday when I'm back to the office, and confirm if it works. If so,
I'll post the final working code.

Regards,
Mauricio

Em 18 de set de 2015, às 18:41, Tim Hall <notifications@github.com>
escreveu:

The querystring params can be added to an existing querystring in the
Resource so you may be able to workaround that is

[2015-09-21 09:00] mmustala opened #163 "Reasons why EnableAutoProxy is False by default"
Hi,

What are the reasons for EnableAutoProxy being False by default? Is it expected to cause trouble in some situations?

[2015-09-21 15:02] mauriciojxs commented on #162
Hi Tim, just tried it, and it did what was supposed (placing the token in the beginning of the string), but the result from the server was the same.
I did some more digging, and found out another param was missing in the query (that I forgot).
So, the previous code would have worked. For a matter of aesthetics I'll keep your last suggestion.

I'll add a PR with the latest code and example, if that

[2015-09-21 16:24] mauriciojxs commented on #162
Tim, I also updated the Wiki, but it's not possible to create a PR.
You can see the page at https://github.com/mauriciojxs/VBA-Web/wiki/TODOist-API
You can also merge it to yours, the git of it is https://github.com/mauriciojxs/VBA-Web.wiki.git
Instructions to merge at https://gist.github.com/larrybotha/10650410

[2015-09-21 17:00] timhall commented on #163
The primary reason is that it is a fairly intensive and slow process for environments where there is no proxy, since it goes through a couple layers to try and retrieve proxy settings:

1. [`WinHttpGetProxyForUrl`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa384097(v=vs.85).aspx) which checks the systems configuration
2. Load proxy settings from IE

With that said, it's pretty obvio

[2015-09-21 17:07] #163 closed

[2015-09-21 17:38] mmustala commented on #163
Thanks. I think I can take the overhead and turn it on in my macro so that it will work for most users straight out of the box.

[2015-09-21 18:13] DamnDam commented on #163
In order to mitigate the overhead, you should try to keep the same WebClient object when making requests to the same domain.
Autoproxy is not evalued again if the WebClient object makes requests to the same domain.

[2015-09-23 19:33] #148 closed

[2015-09-24 07:32] stpeteparadox opened #166 "web_Http ResponseText: ????????"
Hi, thank for this great project, has been incredibly helpful in my personal usage.

UPDATED: response is now:
"ERROR - WebClient.Execute: -2147210493 (11011 / 80042b03), An error occurred during execute
-2147210474 (80042b16): An error occurred while creating response from http
-2147023783 (80070459): No mapping for the Unicode character exists in the target multi-byte code page."

Am getting a s

[2015-09-25 05:06] stpeteparadox commented on #166
Resolved the issue by changing the Me.Body = Http.ResponseText in the WebResponse class use the responsebody instead, with conversion: Me.Body = VBA.Strings.StrConv(Http.ResponseBody, vbUnicode)

Issue #110 comments were also helpful.

Thanks

[2015-09-25 05:06] #166 closed

[2015-10-10 05:10] timhall commented on #162
@mauriciojxs Thanks for your work on this, I've merged the PR and the wiki changes

[2015-10-10 05:10] #162 closed

[2015-10-12 21:05] rocketaero opened #167 "Google Authenticator"
Hey Tim,

I am able to authenticate to my google merchant account but each time do something it requires me to give consent through the pop-up browser interface.  Is there anyway to store this consent somehow so that it doesn't ask each time? (maybe for 30 days or something like that?)  I am hoping to keep my products updated automatically so this will run automatically every few minutes.

Here is

[2015-10-13 13:51] timhall commented on #167
Hi @rocketaero this is a pretty common issue and I just wrote about it in the first of many guides: http://vba-tools.github.io/VBA-Web/guides/overview/

My standard approach is to cache the client in a private Module-level variable and then access it with a Property that creates the client the first time it's accessed.

For your example:

[code]

[2015-10-13 13:51] #167 closed

[2015-10-13 15:15] rocketaero commented on #167
Perfect Tim, Thank you!

On Tue, Oct 13, 2015 at 7:51 AM Tim Hall <notifications@github.com> wrote:

[2015-10-13 23:27] arougthopher opened #168 "Missing "End If" in Installer"
For line:
        If .TodoistAuthenticator Or .Auth Then
            AddModule Modules, "TodoistAuthenticator", "authenticators/TodoistAuthenticator.cls"

In function "GetModulesForSelections" within VbaWebInstaller Module

[2015-10-14 00:15] timhall commented on #168
Good catch! I'll fix this shortly.

[2015-10-15 00:28] timhall commented on #168
Fixed by c1c5e357bbc85af51dc55745c0215f8421193607

[2015-10-15 00:28] #168 closed

[2015-10-15 14:30] rapplegate opened #169 "Google requires authentication every time application is opened"
I am trying to implement your code into Microsoft Access in order to view emails from Gmail (just for CRM purposes, not trying to use as a client).  Everything seems to work okay, except every time I close out Access and reopen, I am directed to the Google Authentication page where I have to "Allow" my application to access Gmail.  I noticed this happens also when I hit the "stop" button in VB.  W

[2015-10-15 16:20] timhall commented on #169
You're right, in the earlier question (https://github.com/VBA-tools/VBA-Web/issues/167) the authentication state is only retained while the application is running. To hold onto the authentication state longer, you would need to store it somewhere outside of the running code (e.g. in a hidden/protected worksheet in Excel, somewhere in the DB in Access, somewhere on the system, etc.). This is a more

[2015-10-15 17:13] rapplegate commented on #169
Thanks.

Which credentials do I need to store?  I was thinking the "token" that is received from google, but by looking through the Google API it appears the "token" is only good for so long.  The "refresh token" appears to be what I need but I can't find where in your program that it reads in the "refresh token".

Any ideas/direction for me to go?

[2015-10-15 17:39] timhall commented on #169
Hmm, I'll have to look at the refresh token a little more. I'll update this once I find out more.

[2015-10-16 22:12] arougthopher opened #170 "OSX: Modify Curl parameters for request"
I have a service that uses kerberos to authenticate.  I can make curl do the request by adding the following: "--anyauth --location-trusted -u:  -c /tmp/cookies.txt -b /tmp/cookies.txt" to the curl command line.  This also works within WebClient if I add that there.  I don't think you would want to add that for all requests, so, could the curl command for OSX be extended by an Authenticator?  (i k

[2015-10-16 23:03] arougthopher commented on #170
Note, if I call SetAutoLogonPolicy(0) on the web_Http client under Windows, that allows this to work for me as well.

[2015-10-19 03:02] arunbhat opened #171 "Salesforce.bas should not hard code BaseUrl"
Salesforce.bas has    pClient.BaseUrl = "https://na15.salesforce.com/". Could this be picked up from the authentication response? The Oauth2 response has   "instance_url" that should be used as the BaseUrl.

[2015-10-19 03:06] arunbhat opened #172 "Would be great to have an implementation that uses the Salesforce bulk api"
The current salesforce examples use the regular REST api. For bulk updates, inserts, deletes it would be good to use the bulk api (https://developer.salesforce.com/docs/atlas.en-us.api_asynch.meta/api_asynch/) as it cuts down on the api requests and is more efficient. This will need some asynchronous support though and make the implementation look 'synchronous'.

[2015-10-19 14:20] timhall commented on #170
Hi @arougthopher Authenticators allows you update both http and curl so they should work well for this. Using the EmptyAuthenticator:

[code]

[2015-10-19 14:20] #170 closed

[2015-10-19 16:43] arougthopher commented on #170
perfect!  I missed that ... would you prefer if I create a SSO/Kerberos Authenticator and submit it for inclusion?

[2015-10-20 01:04] timhall commented on #171
I actually had this in at one point, but since it was Salesforce specific I took it out (https://github.com/VBA-tools/VBA-Web/commit/5530bc8f5b5d3d56b0cfc418705d54279c38184f#diff-32d7f2edb6427fb5973d3016c10823c1L102). It would require some major surgery to add it back in VBA-Web, so I would recommend copying `OAuth2Authenticator`, renaming it `SalesforceAuthenticator` and changing the following:

[2015-10-20 01:04] #171 closed

[2015-10-20 01:06] timhall commented on #172
I'll have to look at it more closely; I'll get back to you on this. Note: for Windows + Excel, there is async support with [`WebAsyncWrapper`](http://vba-tools.github.io/VBA-Web/docs/#/WebAsyncWrapper)

[2015-10-20 01:41] arunbhat commented on #171
Thanks  Tim. I see that you had it based on a condition earlier. That seemed harmless and good. If you think that is not clean, would it be possible to add a callback or something like that and pass it auth_Response. That way the whole OAuth2Authenticator doesn't need to be copied and custom processing of the auth_Response can be done..

[2015-10-20 01:49] arunbhat commented on #172
Thanks Tim, Also the bulk api needs some XML parsing support too. Is that included in VBA-WEB. I looked at VBA-XML and it seems like you are working on it. Any other options? ( i am new to VBA)

[2015-10-20 01:51] timhall commented on #172
Yes, that's still in progress, in the meantime, here are the instructions for using XML on Windows: https://github.com/VBA-tools/VBA-Web/wiki/XML-Support-in-4.0

[2015-10-26 09:36] foxcave commented on #63
Hi Tim,

I could need some help in adding array's to the bodyparameters, i have to create something like this;
{ "id": 5633,
"items": [
{ "iditem": 1, "amount": 1 },
{ "iditem": 2, "amount": 1 }
] }

Adding the first item is easy;
but the second time around i get an "key already exists" error...

So i like to know how to add an array of items.

[2015-10-26 13:44] timhall commented on #63
Hi @foxcave the best way to do that is to create the array/collection before adding it as a body parameter.

[code]

[2015-10-27 05:43] foxcave commented on #63
Thanks Tim, this works perfect, i got half off it myself, only putting the 'set item' in the for loop i missed.
Thanks again, nice thing you made!

[2015-10-30 12:02] mithunmanohar79 opened #173 "Issue with accessing json value of key in WebHelpers.ParseJson"
Hi,
I am trying to parse a json response from web service like below.
Dim Json As Object
Set Json = WebHelpers.ParseJson ("{""a"":123,""b"":[1,2,3,4],""c"":{""d"":456}}")

I would like to print out the value of key 'c' ie {""d"":456}.

But when I try to access it like MsgBox Json("c"), I am getting an argument not optional error. I cannot specify the key to get the elements as the key in response

[2015-10-30 12:57] timhall commented on #173
Hi @mithunmanohar79, `ParseJson` parses recursively so `{"d":456}` has been parsed into a `Dictionary` and you can use `Keys`/`Items` to get the keys/values out of it. If you want to print the whole `Dictionary` out, you can use `MsgBox WebHelpers.ConvertToJson(Json("c"))` which converts the `Dictionary` back into a json object string.

[2015-10-30 12:57] #173 closed

[2015-10-30 13:44] mithunmanohar79 commented on #173
Thanks @timhall for your quick reply !

[2015-11-04 00:36] michaelcham opened #174 "create from curl crlf"
I'm having an issue with Excel 2016 for Mac and Yosemite.  When the Response code parses the curl response, it is looking for CRLF, but only LF is separating lines in the http response.  When I patch the code to only look for LF, then it still can't find the separate blank line between the headers and body.  Anyone else seen this?

[2015-11-05 18:11] mmustala commented on #174
Yes we are seeing it.

[2015-11-06 03:09] timhall commented on #174
Hi @michaelcham thanks for raising this issue, I'll investigate.

[2015-11-06 16:08] michaelcham commented on #174
An update.  In Excel 2016, the constant vbCrLf appears to be reversed.  It should be a two character string where it is CR(ascii 13) followed by LF(ascii 10).  But when I'm in the VBE for 2016, if I look at vbCrLf I get LF-CR.
Debug.Print Asc(Mid(vbCrLf, 1, 1))  # this gives me 10
Debug.Print Asc(Mid(vbCrLf, 2, 1))  # this gives me 13

[2015-11-07 02:28] timhall commented on #174
Do you mind trying `vbNewline`? (in place of `chr(13) & chr(10)`) I don't have a way to test it at the moment, but if that doesn't work, I'll patch with the `chr(13) & chr(10)` fix.

[2015-11-08 15:49] parkone opened #175 "URLEncode with unicode support"
Function **URLEncode** in the **WebHelpers** module do not convert correctly **Unicode characters**!
When sending json with non-Unicode characters it will broken.
I suggest to use this function instead

[code]

[2015-11-09 15:31] michaelcham commented on #174
vbNewline is just a one character string which is the same as chr(10).  It then leaves a chr(13) on the line, which screws up looking for an empty string later.
I have reported it to Microsoft.

Others have noticed it as well.
http://answers.microsoft.com/en-us/mac/forum/macoffice2016-macexcel/vbcrlf-reversed-in-office-for-mac-2016/56815ff1-7756-43e8-bd86-e03a13563e89

[2015-11-09 16:30] timhall commented on #174
Ok, I'll patch with your fix while Microsoft gets it sorted out, thanks for raising this issue

[2015-11-13 02:47] timhall commented on #175
@parkone Thanks for raising this issue. This is a known issue and has I'm researching approaches of resolving this that maintain Mac support (unfortunately, `ADODB` is not available on Mac). I'll keep you posted.

[2015-12-01 16:24] gerald2545 opened #176 "vba-web in word 2010 windows"
Hi all,
sorry, I didn't found a way to ask my question elsewhere and didn't found the information in the docs.

Does VBA-Web useable in a word document?
if yes, how can I use it in word?

Thank you for your help

Gérald

[2015-12-02 14:16] timhall commented on #176
Hi @gerald2545 I have tested it in Word 2013 and it works, so it should work in 2010, but if it doesn't please let me know in case there are some compatibility changes I can make.

How to install manually (needed for Word and Powerpoint):

1. Download the [latest release](https://github.com/VBA-tools/VBA-Web/releases)
2. Import everything from `src` to your project except for `WebAsyncWrapper` (on

[2015-12-02 14:16] #176 closed

[2015-12-06 02:51] ehsan-keshavarzian commented on #63
Hi Tim

I've just discovered your great work and I've been wondering if I can use it to upload a file. Could you please give me an example of file upload.

Thanks

[2015-12-07 21:36] timhall opened #177 "Investigate file upload"
File upload may be possible with the library as-is, but I've never tested it.

- [ ] Add a test case
- [ ] Add documentation
- [ ] Verify/update VBA-Web to get it working

[2015-12-07 21:36] timhall commented on #63
Hi @ehsan-keshavarzian I have not tried uploading a file. I'll look into adding a test case and see what is required to get it working with VBA-Web (who knows, it may work as-is). I've added an issue to track file uploading in particular: https://github.com/VBA-tools/VBA-Web/issues/177

[2015-12-21 04:48] zemien opened #178 "How to convert simple JSON result to a Range"
This is a really useful component, and I hope this can be added to the Wiki.
## Problem
I would like to add a simple, flat JSON result into an Excel table. I initially tried setting the Range.Value to the Response.data but it doesn't like the data type.

## Solution
Hence I created this little Function you can add to your VBA:
[code]

## Usage
Say our web service returns a simple JSON structure li

[2015-12-21 22:19] timhall commented on #178
Looks good @zemien thanks for submitting this. I'm actually going to add it to the [VBA-JSON Wiki](https://github.com/VBA-tools/VBA-JSON/wiki)

[2015-12-21 22:58] zemien commented on #178
Thanks! And I just noticed your other VBA extensions - very impressive!

[2015-12-21 22:58] #178 closed

[2015-12-28 23:24] theFisher86 commented on #63
I keep getting the following error :

[code]

I receive this when trying to do a POST request using PostJson and manually building the request and using a WebRequest.  What does this error mean and how can I resolve it?

Here's my code :
[code]

[2015-12-29 16:33] theFisher86 opened #179 "Error when using POST"
I keep getting the following error :
[code]
I receive this when trying to do a POST request using PostJson and manually building the request and using a WebRequest. What does this error mean and how can I resolve it?

Here's my code :
[code]

[2015-12-29 17:42] timhall commented on #179
@theFisher86 Thanks for raising this issue, is this happening on Windows or Mac? My initial guess is that you need to define and set the response, but I'll look into it.

[code]

[2015-12-29 18:54] theFisher86 commented on #179
This is happening on Windows.  I copied your example code and I'm
re-formatting it to suit my needs and it seems to be working... I think it
may have been  one of those simple syntax mistakes or something that I
never noticed... either way I think it's working now!

On Tue, Dec 29, 2015 at 12:42 PM Tim Hall <notifications@github.com> wrote:

[2015-12-29 18:55] #179 closed

[2015-12-30 15:44] timhall commented on #179
Glad to hear it's working!

[2015-12-30 15:57] ScottBeeson opened #180 "Object Variable or With Block Variable not set?"
I'm using the blank xlsm from the zip.  I added the following code:
[code]

When I debug it just says Object Variable or With Block Variable not set.  It does not hint as to what line the error is on.  Ideas?

[2015-12-30 16:13] timhall commented on #180
I believe that's happening because the `WebClient` is defined, but not instantiated. You can use one of the following:

[code]

[2015-12-30 16:13] #180 closed

[2015-12-30 16:30] ScottBeeson opened #181 "Object Variable or With Block Variable not set?"
I'm using the blank xlsm from the zip.  I added the following code:
[code]

When I debug it just says Object Variable or With Block Variable not set.  It does not hint as to what line the error is on.  Ideas?

[2015-12-30 16:30] #181 closed

[2015-12-30 16:30] ScottBeeson commented on #181
Sorry for the repost

[2015-12-30 16:32] ScottBeeson commented on #180
That did it, thanks!

[2015-12-30 17:19] ScottBeeson opened #182 "Not passing parameters correctly?"
[code]

This results in the message "Error: Services Directory has been disabled" which is the same error you get if you navigate directly to https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/

So what am I doing wrong?  This is the full URL that it should be calling:

https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates?SingleLine=branson,%20

[2015-12-30 17:33] timhall commented on #182
I would recommend trying 1. from the debugging page in the wiki: https://github.com/VBA-tools/VBA-Web/wiki/Debugging. Generally, when the resource gets more complicated, I like to use a `WebRequest` to define the request:

[code]

[2015-12-30 18:08] ScottBeeson commented on #182
Again, that worked great.  Thanks for the quick and useful responses!

[2015-12-30 18:08] #182 closed

[2016-01-05 13:57] SebAlbert opened #183 "Add a Parser for CSV format"
Hi

This project looks awesome, especially for a VBA agnostic like me.
Question: Is there a simple straightforward "correct" way to parse CSV in the WebResponse?
(I always prefer default mechanisms over implementing such things on my own, even in so seemingly easy cases, for not reinventing the wheel and because of possible pitfalls.)

Sebastian

[2016-01-07 19:13] timhall commented on #183
I have not tried to write the parser, but here is how to use it: [WebHelpers.RegisterConverter](http://vba-tools.github.io/VBA-Web/docs/#/WebHelpers/RegisterConverter)

[code]

As for the body of `ParseCSV`, I'd imagine it would look something like the following (converts to `Collection` of `Array`):

[code]

[2016-01-07 19:13] #183 closed

[2016-01-07 23:14] SebAlbert commented on #183
Thanks!

As for the example code, by looking at it, I'd guess it would not properly ignore commas inside quotation marks - which is basically what I was thinking of by mentioning possible pitfalls - even going further with allowing for escaped quotation marks within quotation marks, maybe even line breaks within fields, etc.

I thought there might be some way to leverage Excel's functionality of i

[2016-01-10 11:53] blonkm commented on #166
For me in #110 this solution didn't work.

[2016-01-13 22:32] erjosito opened #184 "Excel 2016 support: VBA.split requires the right order of Lf and Cr"
Hi there,

first of all, congratulations for this, this is great stuff.

I recently moved to Excel 2016, and REST stopped to work. After investigating, it looks like the problem is in CreateFromCurl in WebResponse. The issue is that in the responses I am getting, I am seeing first the Line Feed (chr(13)) and then the Carriage Return (chr(10)). When using the VB constant vbCrLf, previous versions o

[2016-01-13 22:34] erjosito commented on #184
Oh, just saw this is a duplicate...

[2016-01-13 22:34] #184 closed

[2016-01-14 03:55] timhall commented on #184
Thanks for reminding me, been meaning to fix this. I'll fix this shortly.

[2016-01-18 12:18] dumperios opened #185 "Example for using google contacts api"
Hello,

i want to manage google contacts with an excel sheet. i tried to create a vba-procedure to query contacts from a google account, but it doesn't work:

[code]
Result:

[code]
Any idea for my problem?

[2016-01-18 14:54] timhall commented on #185
There are two issues that I can think of that would cause a timeout:

1. For slow connections, you can raise the timeout milliseconds with the following: `Client.TimeoutMs = 30000 ' 30 seconds`
2. It could be a proxy issue, in which case you can use `Client.EnableAutoProxy = True`. (This is disabled by default currently, but has been proposed to make enabled by default in a future version of VBA-W

[2016-01-19 12:41] dumperios commented on #185
Okay, it is the proxy solution.

Now i get the following error:
[code]
I get the same error or error page when i execute the url in my browser.

[2016-01-19 14:50] timhall commented on #185
That's occurring because they are sending an html error page that is failing to be parsed as json. It looks like the error code, 401 (seen in the `<title>` of the response), is an authentication error. I would look at the `Response.Content` which includes the unconverted response for more details on the error. My guess is that you can't use a `PUT` request with that resource (at least without incl

[2016-01-19 15:14] Yurtikus commented on #185
dumperios,
Try to open at browser http://www.google.com/accounts/DisplayUnlockCaptcha for the first time before sending request.

[2016-01-21 12:30] dumperios commented on #185
When i use the google login screen (not the apikey) then i get another result as follows:

[code]
It seems that the login works but the request now gets an error with code 404 - Not Found. Thats the values in request.content. Another question: is there a working example with vba-tools to read/write google contacts?

[2016-01-21 14:29] #174 closed

[2016-01-21 14:51] #160 closed

[2016-02-04 17:57] ovironelectronics commented on #185
Hello dumperios,
Did You manage to access Google contacts with VBA code ?
I'm also interested to try this...

[2016-02-05 17:20] dumperios commented on #185
Hi ovironelectronics,
no, iam still trying. i tested to copy the gmail-example in the excel-document which is working. The authorization to google contacts by ie works but the query throws an error. Now i have to step deeper into the vba-code.

[2016-02-05 18:54] djseven7 opened #189 "Object Required Error on JSON String"
Hi,
This is my first use of the vba library and it looks very useful. I have problem with the code below it's minimal at the moment as I'm testing some concepts before launching into full development. as you can see I working with JSON strings. So far the REST request works fine and I get a JSON string returned, but when it get to the highlighted line "Set GetProjects = Response.Data("msec")" this

[2016-02-05 19:15] timhall commented on #189
@djseven7 Glad you found the library. It looks like `"msec"` is a number, so you don't need `Set` to get the value. Here are some examples based on your given response:

[code]

[2016-02-05 19:15] #189 closed

[2016-02-05 19:30] djseven7 commented on #189
Thank you Tim for getting back to me. Great library by the way.
IP

[2016-02-09 11:43] d33c4y opened #190 "Mac: printf Invalid Format Character in HMACSHA1 function"
Hi Tim - thanks for your work on this library, very grateful.

While creating my auth_Signature on mac, the printf command throws error on the final web_Command

`-bash: printf: D': invalid format character`

I suspect this might be the cause of my program to generate an invalid oAuth signature.

Would you have any ideas? I've tried using alternative shell commands like echo -n, but I'm struggling

[2016-02-09 12:24] d33c4y commented on #190
I did some more digging (after almost giving up!) and I found a solution - instead of escaping the '%' characters in the web_Command, I used a double '%' (e.g. "hello%%")

[2016-02-09 14:36] timhall commented on #190
Hi @d33c4y glad you found the solution. I'll add `%` escaping to `PrepareTextForShell` which should prevent this from happening in the future.

[2016-02-10 13:57] d33c4y commented on #173
Hi @timhall - a question relating to this subject - I have a fairly extensive json response that I've parsed into an object in which I'm trying to build a multidimensional array - this might be my clumsiness with dictionaries, but I can't seem to traverse the keys that are nested in an collection within the dictionary.

Below is the example response: - I need to grab the keys inside of "C" but I c

[2016-02-10 21:23] hyangelo commented on #136
`ERROR - WebResponse.CreateFromCurl: -2147210473 (11031 / 80042b17), An error occurred while creating response from cURL
9: Subscript out of range
ERROR - WebClient.Execute: -2147210493 (11011 / 80042b03), An error occurred during execute
-2147210473 (80042b17): Method 'CreateFromCurl' of object 'WebResponse' failed`

I encountered the same error on Office 2016 on Mac. I think it was caused by red

[2016-02-11 21:58] d33c4y opened #191 "Invalid signature if QuerystringParam > 1"
Hey @timhall, another question for you - hoping you can help point me in the right direction as I'm starting to go cross-eyed.

I'm using the `Request.AddQuerystringParam` methods and encountering a signature error whenever I have more than one parameter in my final URL (using mac).

I've tried to debug by taking the `Text` & `Secret` to be hashed, plus the final `web_Command`, and comparing the o

[2016-02-11 22:57] d33c4y commented on #191
@timhall I was reviewing the oAuth core documentation to try and get some extra insight, and one thing that was interesting is:

As one of my parameters is "offset", should it not be sorted to appear in the string after the "oauth" parameters?

[2016-02-11 23:19] d33c4y commented on #191
Ok a little more testing later... I changed the parameter name to a value that would organically make all of my parameters sorted by key, and that solved the issue (despite the parameter key being invalid).

So... I need to figure out how to sort everything by key, and I see this was on your "TODO" list... what do you think?

[2016-02-12 02:37] d33c4y commented on #191
I attempted to apply a fix to the CreateBaseString function - this work-around moves the auth_Parameters into an array, sorts the array, then builds the auth_Base - seems to work OK from my tests...

[code]

[2016-02-12 03:05] timhall commented on #191
Looks great! I had forgotten about the sorting issue and TODO, good sleuthing. If you feel comfortable with submitting that as a PR I'm happy to review and merge it. (if you're not, I'll add it some time this weekend)

[2016-02-16 02:46] stpeteparadox opened #193 "WinHttp.WinHttpRequest vs. Microsoft.XMLHTTP"
Hi Tim, thank you for this incredibly helpful wrapper/tool. Was wondering if there was any particular reason you've chosen to use the WinHttp.WinHttpRequest object instead of Microsoft.XMLHTTP for this? thank you
(not sure if this is the right place to post a query of this nature)

[2016-02-16 02:55] stpeteparadox commented on #193
This largely answers my query: #9

[2016-02-16 02:55] #193 closed

[2016-02-22 17:12] marcortw opened #194 "Word Request.AddParameter Method or data member not found"
Hi

Seems like VBA-Web is what I need :+1: Eventually I want to query a REST API of our CRM system which should populate address fields and the like in a Word document. Thus I followed the instructions from https://github.com/VBA-tools/VBA-Web/issues/176 and succeeded in using the (unauthenticated) Google Maps API. To go one step further, I am trying to set up the Twitter Authentication Example as

[2016-02-22 19:19] timhall commented on #194
Hi @marcortw `AddParameter` was split into two explicit methods: `AddQuerystringParam` and `AddBodyParameter`. It used to do different things based on the request type and this lead to some confusion. Do you have a link to the tutorial/example that still references it so that I can update it?

[2016-02-22 20:30] marcortw commented on #194
Hi Tim,

I used the authentication example right on the main project page https://github.com/VBA-tools/VBA-Web. Switching to `AddQueryStringParam` works, thanks!

[2016-02-22 21:50] chippernut commented on #63
Hi timhall,

I'm experiencing compiler errors.  When I copy your code from your original response on Sep 11, 2014 into a new module within the "VBA-Web - Example.xlsm" and try to run, I get "Run-Time error '-2147210484(80042b0c) Cannot add body parameter to non-Dictionary Body (existing Body must be of type Dictionary) on the following line;

`Set Response = Client.Execute(Request)`

When I perfor

[2016-02-22 22:07] chippernut commented on #63
I made it further.
I re-read the comments and updated the  "restHelpers" to "WebHelpers" and am still experiencing a compiler error.  This time at the following line
[code]

RunTime error
"An error occurred during execute.  Cannot Create a file when that file already exists"

[2016-02-22 22:19] chippernut commented on #63
Well I'm a doof.   For future reference, if your API requires you to set "content-type", "application/json" in the header, the VBA-Web takes care of that for you with the PostJson Method.

My error was caused by

```Headers.Add WebHelpers.CreateKeyValue("content-type", "application/json")```

Preceded by
```  Set Response = PWFClient.PostJson(Url, Body, Options)  ```

Excellent work, timhall!!  :)

[2016-02-23 00:38] timhall commented on #194
Whoops, thanks I'll fix that!

[2016-02-23 13:42] GTKnight opened #195 "Max size for curl response?"
Tim,

First of all - great tool!  Overall, I'm using it for a simple API query that returns a single line result of the following basic form and it is working well:

"results":[{"timeMs":1455152400000,"series":[0,40,40,null,null,null,null,null]},{"timeMs":1455152410000,"series":[0,40,40,null,null,null,null,null]},{"timeMs":1455152420000,"series":[0,40,40,null,null,null,null,null]},{"timeMs":145515

[2016-02-23 14:47] #194 closed

[2016-02-23 16:05] GTKnight commented on #195
Update: By writing debug info to a file (since I could not see the immediate window after Excel crashed), I can actually see that the curl response is being read and populating WebResponse.Content.  Excel then crashes when the function tries to return with that WebResponse.  I'll close for now and reopen after investigating further.  Apologies for the noise.

[2016-02-23 16:05] #195 closed

[2016-02-23 16:20] timhall commented on #195
@GTKnight Thanks for the update, please keep me posted as you debug. My guess would be JSON parsing is running out of memory or some similar issue, but let me know what you find.

[2016-02-23 23:35] Sophist-UK commented on #120
I solved this in Excel 2010 by going to the Developer Ribbon, clicking on the Macro Security button and checking the `Trust Access to the VBA project object model`.

[2016-02-24 03:11] GTKnight commented on #195
Thanks Tim - embarrassingly enough, it appears the issue was actually a Debug.Print I had put in to show the raw JSON output.  As soon as I removed that, the crashing stopped, so it appears there was some limit reached there. Ugh :)

[2016-02-25 12:10] Sophist-UK opened #199 "VBA-Web in Outlook"
I am trying to make VBA-Web work in Outlook (to do automatic web services calls when particular emails arrive). Since these will be in the background and emails could come in in a bunch, I want these to run in the background. I am making progress towards making VBA-Web work in Outlook, but there is one issue I need some advice on...

In module `WebAsyncWrapper` subroutine `web_StartTimeoutTimer` i

[2016-02-25 12:12] Sophist-UK opened #200 "Excel Add-In"
Would it be a good idea to package this up as an Excel Add-In so that you can load it once it Excel and then use it in multiple Excel sheets (rather than having to load the modules into every Excel Worksheet you want to use them in)?

[2016-02-25 13:04] Sophist-UK commented on #199
A second similar issue has arisen,this time with Application.Run. It seems to me that we can replace much of Application.Run with the CallByName function.

Application.Run works only with Modules, and CallByName only with objects, but in most cases we use Application.Run to call a routine in WebHelpers which then runs the object method. So this change might simplify the code.

Again if you agree w

[2016-02-25 13:46] Sophist-UK opened #201 "WebClient FollowRedirects is not documented"
The WebClient.FollowRedirects property is not documented on the docs page.

[2016-02-25 19:07] timhall commented on #195
Oops, that's kinda funny (and unexpected). Glad it's working now!

[2016-02-26 17:16] timhall commented on #199
The timeout code was from the pre-WinHttp implementation so I'm definitely open to new approaches. If you don't mind attempting the `OnError` approach in a PR, I'll be happy to review it. Sounds good!

As for the `CallByName` change, I'm currently using callbacks in modules for my code and I'd like to avoid a breaking change by removing it. As an alternative, I added the `EnableCustomFormatting` f

[2016-02-26 17:25] timhall commented on #201
Thanks, I'll update the docs once I merge your PRs :wink:

[2016-02-26 17:31] #201 closed

[2016-02-26 17:38] Sophist-UK commented on #199
I think I can resolve the timer issues without creating any compatibility issues in WebAsyncWrapper by using the WinHttpRequest timeout functionality and catching its OnError event.

It might be possible to add functionality to use an event as a callback alongside the use of method name string - but I am not sure it is worth it because...

I am planning a WebClientAsync class which properly wraps

[2016-02-26 17:41] timhall opened #204 "Update to Jekyll 3.0"
Github pages build is currently failing with the following error:

Your site is using the `relative_permalinks` configuration option. This setting is deprecated as has been removed from the latest version of Jekyll. To ensure your site continues to build as expected, remove the option from your site's configuration and update any post or page permalinks to be absolute to the site root, not the par

[2016-02-26 17:53] timhall commented on #200
I feel pretty strongly that it shouldn't be able to be run from an add-in; it was originally created to be completely portable and not tied to an add-in. Even if the add-in is not the default, I think it could quickly start to diverge between the portable version and the add-in and I've been trying to maintain as much compatibility as I can. With that said, I'm not too familiar with what you're su

[2016-02-26 18:21] Sophist-UK commented on #200
I am sorry - but I don't understand your objection to an add-in (though we would need two add-ins I guess - one for Windows and one for Mac).

AFAIK (though I haven't tried it myself), all you need to do to create the add-in is to open the default workbook that already exists in Excel and save as an Excel Add-in. Job done!!  User then adds the add-in and the VBA-Web functionality is then available

[2016-02-26 18:32] GTKnight commented on #195
Thanks Tim.  I can open a new issue on this, but I do have one question
still lingering.  I have had to basically build in logic to "batch" API /
curl queries because if I get an overly large response (e.g. the equivalent
of a 100,000+ row / 7 column output), it simply grinds excel to a halt.  I
experimented with changing the value in the below loop in the WebHelpers
module, which has some effect,

[2016-02-27 14:52] timhall commented on #195
Hmm, there are some manual memory techniques that I've applied in VBA-JSON ([see here](https://github.com/VBA-tools/VBA-JSON/blob/862f9a8aab286e187a91ff71e77f89b94f137f0a/JsonConverter.bas#L657)), but they are Windows-only. I'll look into and see what I can find.

[2016-02-28 19:23] guillemvidal commented on #204
Is this a bug then? I get the error but even after deleating the relative_permalinks the site fails to build...

[2016-02-28 20:10] timhall commented on #204
There were a few out-of-date dependencies and changes that I had to make. Fixed by https://github.com/VBA-tools/VBA-Web/commit/44e37b978f4a0462317d9773803c970fb2714638

[2016-02-28 20:10] #204 closed

[2016-02-29 21:14] timhall commented on #191
Fixed by #192

[2016-02-29 21:14] #191 closed

[2016-03-03 11:03] Sophist-UK opened #207 "CreateKeyValue performance"
Tim - I was wondering whether you could enlighten me as to why CreateKeyValue exists.

From reading the code, CreateKeyValue seems to create a Dictionary object with a single entry, and this is then stored in a Collection. But surely you could just use a Dictionary rather than a Collection to store in, and just add it. Creating and destroying objects is a relatively costly process in VBA - so one

[2016-03-03 11:06] Sophist-UK opened #208 "User-Agent header is hard coded"
I would like to be able to set my own User-Agent header (as I want t o emulate a publicly available free web page call), but as far as I can tell it is hardcoded.

Is it possible to override it without changes to VBA-Web or do I need to create a PR?

[2016-03-03 11:12] Sophist-UK opened #209 "Minor: Documentation for WebRequst.CreateFromOptions slightly incorrect"
Says
[code]
Should say
[code]

[2016-03-03 11:24] Sophist-UK commented on #208
I guess I can do it using CreateFromOptions but I am not convinced that this won't result in duplicated headers.

I think it would be best to add a UserAgent property to WebRequest.

[2016-03-03 15:14] timhall commented on #207
I had previously used a `Dictionary` for headers, querystring params, and cookies, but I changed them to `Collection` since there can by multiple values for the same key.

- Headers, see https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2)
- Querystring params may have repeated keys for arrays, `a[]=1&a[]=2 => a = [1,2]` (although VBA-Web doesn't do this processing) (see https://github.c

[2016-03-03 15:14] #207 closed

[2016-03-03 16:44] Sophist-UK commented on #207
Hmm - in my own code I was trying to store a user defined type in a collection (which worked) and retrieve it - which gave a compile error (about coercing a variant (type stored in a collection) to a UDT). You can use an object just fine (like the current saving a Dict to a Collection), but not a UDT. Something to bear in mind.

[2016-03-03 17:43] timhall commented on #207
Yep, definitely tried that. I have also run into the issue of not being able to use UDT in class functions (as parameters/return values) repeatedly, a very frustrating limitation of VBA.

[2016-03-03 17:49] bdr99 commented on #175
Is this issue fixed by #205?

[2016-03-04 00:09] #209 closed

[2016-03-07 02:32] timhall commented on #208
Fixed in https://github.com/VBA-tools/VBA-Web/commit/4685fa9cdcb5181757bf851b517293152a7ce91f

[code]

[2016-03-07 02:32] #208 closed

[2016-03-07 02:36] timhall commented on #175
@bdr99 it should be, but I'll add a test case.

[2016-03-07 12:17] Sophist-UK opened #212 "QueryParams with URLEncoding using %20 rather than +"
VBA-Web replaces spaces in queryparams with + rather than %20 which is (I gather from google research) the correct approach.

However, I have a web service I need to call which requires %20 not +, but I can see no way of making VBA-Web do this as standard.

Have I missed something, or do I need to think about how to enhance VBA-Web to allow this?

[2016-03-07 13:07] Sophist-UK commented on #212
Hmm .. according to [Wikipedia](https://en.wikipedia.org/wiki/Percent-encoding#The_application.2Fx-www-form-urlencoded_type) you should use plus only when RequestFormat = FormUrlEncoded - StackOverflow has various items on this i.e. [article 1](http://stackoverflow.com/questions/1634271/url-encoding-the-space-character-or-20), [article 2](http://stackoverflow.com/questions/1211229/in-a-url-should-

[2016-03-07 13:22] timhall commented on #212
Currently, query parameters are being encoded as form-url-encoded, which uses + for space: http://www.w3.org/TR/html4/interact/forms.html#h-17.13.4.1

I'll check if there is a more recent spec / alternative approach for setting encoding options

[2016-03-07 13:23] timhall commented on #212
Just saw your comment, seems reasonable, but I'll read up on it.

[2016-03-07 13:35] Sophist-UK commented on #212
PR #213 submitted.

[2016-03-09 18:35] Sophist-UK commented on #175
I have submitted another PR #213 to enhance UrlEncode further and to provide similar enhancements and fixes to UrlDecode also. This does NOT AFAIK provide full Unicode support - but it does handle ASCII characters above 128.

[2016-03-17 05:53] jcalamante opened #214 "Google Analytics - trouble parsing json -- ms access"
I can authenticate no issues but I am having issues passing Json to get the response, I have turned customFormatting to False

Hoping someone can assist

Here's my code (note I have removed my Api/client keys

[code]

And the errors

[code]

(TH: updated formatting)

[2016-03-20 09:15] Sophist-UK commented on #214
It looks like it is expecting a JSON formatted request.

In `Function AnalyticsRequest` try adding a line `.RequestFormat = WebFormat.FormUrlEncoded`.

[2016-03-20 09:50] Sophist-UK commented on #214
Please ignore my previous comment which I have deleted.

According to the [Google Analytics API documentation for REST](https://developers.google.com/analytics/devguides/reporting/core/v3/reference#data_request) you need to have a `Authorization: Bearer {oauth2-token}` header and I don't see that in the request debug. Reading further down, the `key` query parameter is Oauth1.0a, and reading the Go

[2016-03-20 10:11] jcalamante commented on #214
Thanks for your comments, I had tried removing the apiKey and also removing the login - but going through the login code it only checks if APIkey exisit's the function.

Although you deleted your last comment I had already tried adding in
.RequestFormat = WebFormat.FormUrlEncoded which was also required on the response format.

adding that in seems to have got me 1 step closer where the Json error

[2016-03-20 10:22] Sophist-UK commented on #214
I have not used GoogleAuthenticator, but looking at the Login code it does not appear to match exactly the [Google OAuth2 instructions](https://developers.google.com/identity/protocols/OAuth2InstalledApp).

For example, Google says use `https://accounts.google.com/o/oauth2/v2/auth` but VBA-Web uses `https://accounts.google.com/o/oauth2/auth`. Similarly the URLs for getting the token are wrong too.

[2016-03-20 10:27] Sophist-UK commented on #214
[code]

[2016-03-20 10:31] jcalamante commented on #214
Apologies will make sure I structure in a more formatted way.
Thanks for your suggestion I'll have a search through the GoogleAuthenticator code and see if I can resolve, will post up my resolution if I work it out.

[2016-03-20 10:36] Sophist-UK commented on #214
P.S. In your latest debug output you have set the response format to FormUrlEncoded but you said you had also set the response format - but clearly the response you are expecting is JSON (see above) so this is incorrect.

However I think it is still the OAuth2 which is the problem.

[2016-03-20 10:39] Sophist-UK commented on #214
Sorry - upon reflection there is a Token in the VBA-Web request, so it seems likely that the OAuth2 did work.

[2016-03-20 10:57] Sophist-UK commented on #214
Ok - I think it is as you have indicated because VBA-Web is UrlEncoding the query parameters, and in particular converting the ':' to '%3A'.

Compare the URL in your request with the example on the [Google Analytics API Reference page](https://developers.google.com/analytics/devguides/reporting/core/v3/reference#data_request).

Have you tried `.RequestFormat = WebFormat.PlainText`?

I have a PR #2

[2016-03-20 11:25] jcalamante commented on #214
Using `.RequestFormat = WebFormat.PlainText ` cleared the Json errors the same way changing to `FormUrlEncoded` did.
I also tried temporarily modifying `webhelper.UrlEncode` to include char 58 in the unencoded characters, without any additional success.
I'm pretty confident the Auth is ok as it get a response from the api but there is something wrong in the Get statement which is getting the path

[2016-03-20 11:31] Sophist-UK commented on #214
I doubt it is User-Agent. But the VBA-Web still uses `key` which is wrong, though at least ':' is not encoded this time.

See also my comments in #213.

[2016-03-20 11:46] jcalamante commented on #214
I modified `Googleauthenticator.IWebAuthenticator_BeforeExecute`
                           `Request.AddQuerystringParam "key", Me.ApiKey`
**to**      `Request.SetHeader "Authorization", "Bearer " & Me.ApiKey`
and set `AnalyticsRequest.UserAgent = "HTML/1.1"`

No impact still getting 404 not found error, but the Get statement is now a lot closer to google's

[2016-03-20 13:30] timhall commented on #214
Hi @jcalamante It looks like the authentication is working ok, the issue is the `BaseUrl` for the `Client`:

[code]

This doesn't match the desired url of `https://www.googleapis.com/analytics/v3/data/ga?...` (no `"auth"`) . Try changing the `BaseUrl` to `https://www.googleapis.com/analytics/v3`. (as seen here: [Analytics:34](https://github.com/VBA-tools/VBA-Web/blob/0a8872f39dff105362e8552728a8d0

[2016-03-20 13:30] #214 closed

[2016-03-21 01:12] jcalamante commented on #214
Thanks Tim, I thought it was something with the URL but just couldn't resolve it.
It's worked properly now using:
`' In Client`
`Client.BaseUrl = "https://www.googleapis.com/auth"`
and
`Call auth.Login`
Now it's just resolving usage of the API key so I don't have to physically log in

[2016-03-21 07:25] Sophist-UK commented on #214
The API key is OAuth 1.0 which no longer works- so you cannot use that.

The authenticator needs work so that doesn't need the user to reapprove if they have done it before.

[2016-03-22 17:37] Sophist-UK opened #216 "Repeated Body Parameters"
VBA-web (correctly) allows you to repeat querystring parameters e.g.`tag=issue&tag=vbaweb` but it does not allow you to do the same in body parameters.

Although this is untypical, it is not unknown for web services to require this.

Although it would be easy to make `Request.AddBodyParameter` work like `Request.AddQuerystringParameter` this might well not be backward compatible.

Perhaps an issue

[2016-03-23 12:40] ldaniel-ldvh opened #217 "Can I use for Pipedrive ?"
Hi, Thank you so much for this tool!!

I want to know if this tool works with any system that have API. I am trying to configurate to Call from an URL only, and is from pipedrive. I have the link and I only want to get the information and create a New File.

Thank you so much for this tool, and let me know if I can use for this because always I have errors.

Greetings !

Luis Daniel Vargas
ldaniel

[2016-03-23 19:30] timhall commented on #217
Looking at their API here, https://developers.pipedrive.com/v1, VBA-Web should be able to work with Pipedrive, but I haven't tried it. Feel free to reopen this issue with specific error information and I'll be happy to take a look at it.

[2016-03-23 19:30] #217 closed

[2016-03-24 03:07] ldaniel-ldvh commented on #217
Thank you so much.

I am working in this and now I can get all the messages.

Thank you.

Luis Daniel Vargas
www.ldvh.com.ve

2016-03-23 14:31 GMT-05:00 Tim Hall <notifications@github.com>:

[2016-03-24 12:39] Sophist-UK opened #218 "Google authentication out of date"
I am opening this issue as a placeholder for the need to update the Google authenticator to match the latest google API documentation (as per issue #214).

[2016-03-24 12:46] Sophist-UK commented on #185
[code]

There is a double // in the URL - which could be the problem. According to your original code should there be a userid in there?

[2016-03-29 17:01] markhern commented on #126
Hi, thanks for this fantastic piece of work. I'm also interested in getting VBA-web to work in Access, actually Access 2007. We have a REST interface service that we'd like to access from an Access application. Would you recommend against using VBA-web to do this or do you have any advice on which direction to go? Thank you kindly.

[2016-03-29 22:42] joyfullservice commented on #126
@markhern - I use it extensively in Microsoft Access, and have had really good success with it. I have a couple wrapper functions that I add to handle the authentication and persistence, but the VBA-Web framework makes it a breeze!

[2016-03-30 17:44] markhern commented on #126
@joyfullservice Thanks. If you could direct me to any instructional articles/materials as I take this path, it would be highly appreciated. We'd also like to use JSON in the REST web service, which I assume would be supported. Thanks again.

[2016-03-30 18:27] Sophist-UK commented on #126
http://vba-tools.github.io/VBA-Web/docs/

[2016-03-30 18:27] Sophist-UK commented on #126
JSON is supported - if you need help please email me.

[2016-03-30 19:34] joyfullservice commented on #126
In Access you can actually create library databases, which you can then reference from other Access database applications. When you have a lot of front-end applications that use the same underlying classes for data access or functionality like VBA-Web, you can use this approach to maintain your code in a single location, instead of needing to maintain duplicate copies of the modules in all the dat

[2016-03-31 06:09] Sophist-UK commented on #126
That is much better specific help for Access than I could provide!!!!

However, I have suggested that to Tim that VBA-Web should include an Excel Add-On .XLA/.XLAM file containing VBA-Web so that you could load the Add-on in Excel once, and then use it as needed in your workbooks. From what @joyfullservice says, perhaps we could add an Access Library which did the same thing.

[2016-03-31 14:50] markhern commented on #126
Thanks everyone so much. I am digesting all this and moving forward with it as I can.

[2016-04-01 15:27] markhern commented on #126
I'm finding now in my organization that in fact we have to support Access 2000 as a 'lowest common denominator'. The Installer file appears to only support ACCDB files, telling at least from the file extension filter in the Browser button. I'll open a new issue around this.

[2016-04-01 15:31] markhern opened #219 "Installer support for Access 2000?"
Thanks for adding Access support to the installer. Is there any chance that the installer can be made to support Access 2000? The Installer file appears to only support ACCDB files, telling at least from the file extension filter in the Browser button. Naturally, I would need support for the MDB file extension. (I'm assuming that I couldn't have just renamed my MDB files over to ACCDB.)

If it wou

[2016-04-03 19:47] #212 closed

[2016-04-03 20:02] timhall opened #220 "Open Requests for Examples"
Running list of requests for examples. I don't personally have any experience with these APIs so PRs/comments are appreciated.

- Google Contacts API (https://github.com/VBA-tools/VBA-Web/issues/185)
- Salesforce Bulk API (https://github.com/VBA-tools/VBA-Web/issues/172)

[2016-04-03 20:03] timhall commented on #172
Closing to track in general examples issue

[2016-04-03 20:03] #172 closed

[2016-04-03 20:03] timhall commented on #185
Closing to track in general examples issue

[2016-04-03 20:03] #185 closed

[2016-04-03 20:06] timhall commented on #175
Found this reference implementation for Java: https://www.w3.org/International/URLUTF8Encoder.java

   *        to a sequence of 2 or 3 bytes, using the UTF-8 algorithm;
   *        secondly each of these bytes is encoded as "%xx".

[code]

[2016-04-03 21:17] Sophist-UK commented on #216
I have since had my code working, so may instead be an example of #137.

[2016-04-05 12:13] rhrabcak opened #221 "Base64Decode - problem with accents"
Hi,
I need to decode the Base64 encoded text into readable text, namely the Czech language.
decoding run fine, but the result is not 100% corrert in Czech language (accennt), for example - see strange characters:

<CP_PRACOVISTE> ÄŚesky ĂşĹ ™ d Zema> mÄ> Å ™ ical and land - SCD </ CP_PRACOVISTE>

can you help me please ?

in cell  (sheet1) A1 is Base64Decode text (source = text = webservice Cadast

[2016-04-08 18:28] timhall commented on #221
Hi @rhrabcak sorry about that. Thanks for including the sample, I'll add some tests cases and see if I can get to the bottom of it.

[2016-04-12 01:44] MBlumberg73 opened #222 "TLS 1.2 Support on Windows 7"
I have an excel macro that I use to interact with APIs.  Everything works great... Today I was adding a 2nd API endpoint while working on my W10 laptop - everything worked fine and the API provided expected results.  So, I deployed the revised spreadsheet to my AWS EC2 Server 2008r2 where I run the scripts daily.  The original API still works, but the new API gets all 408 errors.   Very strange.

[2016-04-12 06:20] Sophist-UK commented on #222
408 is a Request Timeout error.

Some thoughts:

a. Run the API query from a browser on the W7 and Server2008R2 machines to check that there is not a firewall issue.
b. Put in Debug statements in your macros to see how long it takes for it to timeout. This might indicate whether it is a real timeout (long) or something else causing it (short).
c. Check that WinHttp / IE patches from Windows Update

[2016-04-12 11:06] mangius opened #223 "installer error 10026"
When attempt to install vba-web on new excel 2010 workbook the installer failed with error code 10026 Is there a default protection?

[2016-04-12 11:40] Sophist-UK commented on #223
There is a setting you need to change:

1.Enable the Developer ribbon bar.
2. Click `Code` / `Macro Security`
3. Tick the `Trust access to the VBA project object model`

[2016-04-12 13:06] MBlumberg73 commented on #222
Thanks for your response.  Some additional information:
1) the API connection that is failing is https://api.dropship.com/api/v2/hello - from a browser it connects and returns correctly on all machines (in this case an authentication error)
2) The 408 is returned in less than 2 seconds always.
3) From what I can tell, all machines are fully patched.

The code is exactly same to call both API endpo

[2016-04-12 13:40] timhall commented on #222
I'm also getting a 408 for Windows 7 while I get a 401 in Chrome and Postman. Specifically, I'm getting WinHttp 12029: A connection with the server could not be established ([Link](https://msdn.microsoft.com/en-us/library/windows/desktop/aa383770(v=vs.85).aspx)).

@MBlumberg73 Do you have any documentation for the API? (I couldn't find any and help returns a 401 :wink:)

[2016-04-12 13:44] timhall commented on #222
Update, here are the docs: https://api.dropship.com/docs/v2/

[2016-04-12 14:02] MBlumberg73 commented on #222
Thanks for confirming.  Do you have any other OS platforms you can test the
VBA code on?

marc blumberg - 541.224.6693 x700
mychooze.com - 541.2CHOOZE
Inspiring creative confidence in kids of all ages.

<http://instagram.com/choozeshoes> <http://facebook.com/choozeshoes>
<http://pinterest.com/choozeshoes>

On Tue, Apr 12, 2016 at 8:40 AM, Tim Hall <notifications@github.com> wrote:

[2016-04-12 22:19] MBlumberg73 commented on #222
Update:  I have tested the CURL via the command line (captured from execute class), and it works on W7 - but fails via VBA.  I can send you the curl raw line with the token for your testing if you provide an email address.

[2016-04-13 14:11] #223 closed

[2016-04-13 15:19] timhall commented on #222
@MBlumberg73 I tried `Request.Insecure = True`, `Request.EnableAutoProxy = True`, using Chrome's User-Agent, using the IP address directly, explicitly setting the port, and looked into additional [WinHttp Options](https://msdn.microsoft.com/en-us/library/windows/desktop/aa384108(v=vs.85).aspx) (although I didn't see anything that seemed relevant) and still couldn't get it to connect on Windows 7.

[2016-04-13 15:25] MBlumberg73 commented on #222
Try a curl from the command prompt:
curl -i --connect-timeout 200 --max-time 600 --insecure --location -H "User-Agent: VBA-Web v4.0.19 (https://github.com/VBA-tools/VBA-Web)" -H "Content-Type: application/json" -H "Accept: application/json" -H "Content-Length: 0" -X GET -d "" "https://api.dropship.com/api/v2/hello"

This should return an unauthorized.  But the same request via VBA gets a 408.

[2016-04-13 15:45] timhall commented on #222
Hmm, using curl from git bash, I'm getting the following:

`curl: (35) Unknown SSL protocol error in connection to api.dropship.com:443`

Adding `--verbose`, I get:

[code]

[code]

Looks like a pretty old version (2012) so that may be affecting it. Also tried `--sslv2` and `--tlsv1`

[2016-04-14 14:57] sshikov opened #224 "Format isn't always the same for request and response"
Quote from wiki:

Format (json, xml, url-encoded, plain-text) for **content-type** and **accept** headers and converting/parsing request and response

It should be possible to set different formats for request and response.

[2016-04-14 15:38] timhall commented on #224
Hi @sshikov

You can do this with `RequestFormat` and `ResponseFormat`, respectively. Additionally, if you want to explicitly set the content-type or accept headers, you can use `ContentType` and `Accept`. Finally, you can define custom formats with `CustomRequestFormat` and `CustomResponseFormat`.

- [Format](http://vba-tools.github.io/VBA-Web/docs/#/WebRequest/Format)
- [RequestFormat](http://vb

[2016-04-14 15:38] #224 closed

[2016-04-17 01:46] timhall commented on #219
Hi @markhern, I don't have a copy of Access to test with at the moment, but the installer may work with mdb with minimal changes:

[code]

I haven't tested this so there may need to be deeper changes, but it's worth a try. Let me know if you get it working.

[2016-04-18 15:42] marcortw opened #225 "Inconsistent null / empty value handling"
Hi Tim

I have to consume an API which kind of randomly responds either with an empty value but sometimes also with null in the JSON response, e.g.:

- ... "department":"", ...
- ... "department":null, ...

My calling code looks a bit like this:

[code]
If the API responds with a null value, I get a `run-time error '94': Invalid use of Null` when assigning the `department` value. There's not by an

[2016-04-19 14:31] MBlumberg73 commented on #222
@timhall small update.  I have notified the provider that they might have a ssl cert config issue (https://www.ssllabs.com/ssltest/analyze.html?d=api.dropship.com).  It is definitely part of the issue, but still doesn't explain why curl insecure works and VBA-Web does not on the same machine.  Have you had a chance to investigate further?  Thanks.

[2016-04-19 16:45] timhall commented on #222
Wow, cool SSL tester. The multitude of "Server closed connection" in the handshake simulation seems like the issue to me. My guess is that they are TLS 1.2-only which as far as I know has issues with `WinHttpRequest` that I've invested somewhat in the past, but will look at more.

[2016-04-19 16:48] MBlumberg73 commented on #222
@timhall correct, they confirmed that they are TLS 1.2-only.  It is odd that WinHttpRequest works for this on a W10 machine, but not other platforms.

[2016-04-22 01:10] timhall commented on #222
I've looked into it a little further and found this: https://msdn.microsoft.com/en-us/library/windows/desktop/aa384066(v=vs.85).aspx#WINHTTP_OPTION_SECURE_PROTOCOLS

I've tried setting the option to use TLS 1.2 and it throws an error in Windows 7:

[code]

From what I've seen/heard, this may just be a limitation of the WinHttp COM support in Windows 7. I received an email with an alternative appro

[2016-05-04 14:15] bdr99 opened #226 "VBA-Web fails when response contains header names with spaces"
I am trying to make a request to a page which returns a response with a header that looks like this:

[code]

I am getting the following error when VBA-Web gets the response:

![error](https://cloud.githubusercontent.com/assets/2292715/15016813/e7e35956-11e0-11e6-9cb9-cdb2531d8a00.png)

I suspect it is because of the "PHP Warning" header which contains a space in its name. I feel as though VBA-Web

[2016-05-04 16:17] Sophist-UK commented on #226
As far as I can see, there is nothing in VBA-Web which would cause this because there is a space in the header. See `Function ExtractHeaders` in WebResponse.cls.

So I suspect that this is WinHttp which is throwing the error - in which case there is not much that VBA-Web can do about it.

[2016-05-04 17:40] timhall commented on #226
Hi @bdr99, I agree with @Sophist-UK, this looks like an internal WinHttp error. It can be tricky to extract the error number when it's mixed with `vbObjectError`, here's an example:

[code]

The `11011` is from VBA-Web and represents "Error in Execute" (found in the top of WebClient). It's a fairly generic error and generally just re-throws the underlying error. In this case that error is `12152`

[2016-05-04 17:40] #226 closed

[2016-05-06 16:36] jmorganh opened #227 "ERROR 10025: No module found at"
I am new to GETHUB and this is my first issue report.

I get this error when i select the install into Access Database.

ERROR 10025: No module found at C:\Users\myName\AppData\Local\Temp\Temp1_VBA-Web-4.0.21.zip\VBA-Web-4.0.21\src\WebHelpers.bas

I have tried to copy the zip file into the folder but not able to paste.

Any ideas?

[2016-05-09 13:18] timhall commented on #227
Looking through the source, error 10025 looks like it's related to auto-proxy ([WebHelpers:2926](https://github.com/VBA-tools/VBA-Web/blob/03228ec926d1859fdc8762a8c3786e35973ccf86/src/WebHelpers.bas#L2926)) so I'm not sure why it would give that message.

I think the error is related to importing VBA-Web. Access support with the installer is in beta and is limited to `.accdb` files. To install man

[2016-05-09 13:18] #227 closed

[2016-05-10 11:04] sathish804 opened #228 "Unable to Send Jira Set-Cookie header"
Hi Team,

I am using VBA web project for pulling the data from Jira.

Jira login is successful and I am trying to send the Set-cookie header to Search service but the request is always failing because Set-Cookie header has been not received by the Jira service.

![jira-search-api](https://cloud.githubusercontent.com/assets/14090242/15144440/ba226916-16af-11e6-85bf-70063c504b5d.PNG)

Please help me

[2016-05-10 15:19] timhall commented on #228
Hi @sathish804 to send cookies with a request, you should just use `Cookie: name=value`, `Set-Cookie` is used in server responses. Also, you can use `Request.AddCookie` ([Docs](http://vba-tools.github.io/VBA-Web/docs/#/WebRequest/AddCookie)) to add a cookie to a request with VBA-Web:

[code]

Also, I'd look into using JIRA's API directly (shouldn't need to set any cookies): https://docs.atlassian.

[2016-05-10 15:42] favishG opened #229 "OAuth for QuickBooks Online"
Is it possible to get a token from QBO, since they require to pass in a callback URL?
[https://developer.intuit.com/docs/0100_accounting/0060_authentication_and_authorization/connect_from_within_your_app]

[2016-05-10 17:49] timhall commented on #229
Hi @favishG some of the authenticators use callback urls, but determining how to use them has been on a case-by-case basis.

For example, for [TodoistAuthenticator](https://github.com/VBA-tools/VBA-Web/blob/master/authenticators/TodoistAuthenticator.cls), the following was determined:

This was possible since the __redirect is detected before it actually occurs__ so it's ok if it goes to a 404.

I

[2016-05-10 17:49] #229 closed

[2016-05-11 07:31] sathish804 commented on #228
Hi Tim,

I tried without setting the cookie but I am still facing the same issue.

I also tried with AddCookie also but no luck :(

[2016-05-13 14:06] sathish804 commented on #228
Hi Tim,

My Issue was solved with Basic Authenticator.

Thank you!!

[2016-05-13 14:06] #228 closed

[2016-05-13 16:55] subbu-shunmugam opened #230 "Compile Error in Mac -"
Can you please clarify what might be the issue: A compile error when running in Mac with a simple rest api call without user credentials. Works in Windows.

Compile error:
Can't find project or library
(WebHelpers 1054:7)
Code highlights in: Public Function JoinUrl(LeftSide As String, RightSide As String) As String

Thanks,
Subbu.

[2016-05-14 02:32] timhall commented on #230
Hmm, that line's been in there a while (added in v1.0.3), but maybe it's the un-namespaced VBA calls? Do you mind updating it as follows (adding `VBA.`)? If it works I'll update the library.

[code]

[2016-05-16 17:22] subbu-shunmugam commented on #230
Yes, adding VBA worked and also please add to VBA to Format methods in request and response

[2016-05-16 17:22] #230 closed

[2016-05-17 00:33] levitatejay opened #231 "Add a "SetCookie" method, similar to "SetHeader""
I think there should be a SetCookie method similar to the SetHeader method.

From the "SetHeader" method:

I have a situation where I want to be able to replace a cookie if it already exists on the request.

[2016-05-17 00:43] levitatejay commented on #231
Currently just using the following:
` WebHelpers.AddOrReplaceInKeyValues Request.Cookies, "my-key", "my-value"`

[2016-05-17 16:29] timhall commented on #231
Seems reasonable, thanks for the suggestion @levitatejay

[2016-05-22 08:31] napyang commented on #231
bug report

test on Mac.
Excel : office 2016 for Mac ver15.22

code Format() , Left() and Right() didn't work. But VBA.Format(), VBA.Left() and VBA.Right works good.

thanks for this amazing module.

[2016-05-23 12:50] sathish804 opened #232 "Add sample code for File attachment"
Hi,

Please add sample code for the File attachment for a rest service.

Thanks and Regards,
Sathish.

[2016-05-23 15:55] timhall commented on #232
Hi @sathish804 I don't have any experience with file attachments. I've been meaning to look into it, but haven't found a good example / time to work on it. It's being tracked in #177

[2016-05-23 15:55] #232 closed

[2016-05-27 11:40] kzimny commented on #133
I have exactly the same issue as mmustala. Please fix the bug as soon as possible.

[2016-06-01 01:38] levitatejay opened #233 "Issues parsing ISO date strings with offsets"
The ParseIso() function in the WebHelpers module doesn't seem to handle offsets correctly.

JSON ISO String with 0 offset:
`"2016-06-01T01:08:20.9333502+00:00"`
Is not treated as being UTC and doesn't get the local timezone added to it... It simply gets shown as is.

JSON ISO String with 12 hour offset:
`"2016-06-01T13:08:20.9333502+12:00"`
Gets its 12 hour offset added to it again which sets it 1

[2016-06-01 20:44] zgrose opened #234 "json_ParseNumber significant digit check possibly too strict"
[code]

The value 1234567890.12345 has 15 significant digits (and will display in Excel 2016 without truncation) but has length = 16 because the decimal adds to the length without altering the significance. Perhaps test for "." in the json_Value string and allow for 17 characters with a decimal and 16 without?

[2016-06-03 19:01] timhall commented on #234
Thanks @zgrose I think you're right on this, I'll investigate further.

[2016-06-06 16:04] #234 closed

[2016-06-06 16:18] timhall commented on #233
Hi @levitatejay thanks for raising this issue, I'll look into it. (tracked in https://github.com/VBA-tools/VBA-UTC/issues/3)

[2016-06-06 16:23] timhall commented on #225
Hi @marcortw I've thought about adding customization for VBA-JSON, but it's still a ways off. In the meantime I think the best bet is to add a check to your code:

[code]

If you need to check for multiple values:

[code]

[2016-06-06 16:23] #225 closed

[2016-06-06 17:43] #233 closed

[2016-06-09 02:47] bdr99 opened #235 "Override UrlEncodingMode for cookies"
I have a web service that I am communicating with. I need to send the web service a cookie which contains some special characters, such as the "=" character. This used to work fine, but in the newest version, VBA-Web automatically changes "=" to "%3D" in my cookies, which has made me unable to communicate with my web service. I was reading in the changelog about the new UrlEncodingMode feature, an

[2016-06-09 03:00] timhall commented on #235
Thanks for raising this @bdr99 I misread the RFC and applied the name encoding to both the name and value. The value encoding allows many more characters (including =) so I'll update that tomorrow.

[2016-06-09 03:01] bdr99 commented on #235
@timhall Great! Thanks! :+1:

[2016-06-10 14:12] albinobean opened #236 "Authentication Issue for SalesForce"
I have followed the instructions to set up my SalesForce app, and I have also referenced http://www.calvinfroedge.com/salesforce-how-to-generate-api-credentials/ to make sure everything matched his instructions.  However, when I am this error message.
![image](https://cloud.githubusercontent.com/assets/11166349/15966952/fb6ebc78-2eea-11e6-9925-ceb88e056e6e.png)

Do I have the SalesForce app config

[2016-06-10 16:45] rashidkhan46211 commented on #169
Hi Timhall,

I have implemented your code to read Gmail inbox, initially it works great, But when I passed different username the IE window still holds old user login in the authentication window where we need to click on Allow button. Is there any way to simply pass any account and its credentials and Authentication window must prompt for the respective user only not the cashed one?
I put the cod

[2016-06-10 17:05] #235 closed

[2016-06-10 17:11] timhall commented on #236
Hi @albinobean I haven't checked on the Salesforce API for a little while, I'll look into it and see if anything has changed.

[2016-06-10 17:19] timhall commented on #235
@bdr99 released in 4.1.1, let me know if that works for you.

Also, to override cookie encoding, you can add cookies to the request collection directly (rather than with `AddCookie`):

[code]

[2016-06-10 22:02] timhall commented on #169
Hi @rashidkhan46211 that's an interesting issue, I'll see what I can find.

[2016-06-15 23:41] dlong500 commented on #199
What is the status of this?  I'd also like to use this library in Outlook, but I can't tell if anything has been resolved on that front.

[2016-06-16 00:08] timhall commented on #199
Hi @dlong500 this issue is particular to `WebAsyncWrapper` (an optional class). I know a few people that have used VBA-Web successfully with Outlook, so I'd say give it a try. Let me know if you run into any other Outlook-specific issues.

[2016-06-16 00:12] dlong500 commented on #199
Ok.  Are there any special things that need to be done to get it set up in Outlook?  The install instructions only mention using an `xlsm` file.

[2016-06-16 00:25] timhall commented on #199
Sorry, been meaning to add some details on that.

1. Download the latest release (and unzip)
2. Import all of the files from the src/ folder (except WebAsyncWrapper) to your project

That should do it!

[2016-06-20 06:32] animesh11 commented on #63
This doesn't work. When I use the python webservice client, I see that data is in the following format

    INFO:__main__:ImmutableMultiDict([('Currency', u'USD'), ('pricing_methodo_name',
     u'AniSharkfinMethodo'), ('payoff_name', u'SharkfinTemplate'), ('product_descrip
    tion', u'')])

When I use your code it shows the following format

INFO:__main__:ImmutableMultiDict([('{"Currency":"USD","

[2016-06-22 16:53] smileythom opened #238 "4.1.1 gets the following Error on the Install process"
VBA-Web Installer.xlsm located in my Downloads directory.

ERROR 10025: No module found at C:\Users\toms\Downloads\src\WebHelpers.bas

4.1.0 works fine.

[2016-06-22 16:58] smileythom commented on #238
Nevermind. I had only downloaded the .xlsm file not the source files as well. It works.

[2016-06-22 16:58] #238 closed

[2016-07-18 22:55] levitatejay opened #239 "Run-time Error when adding body parameter"
I'm getting the following error:
`Run-time error '5': Invalid procedure call or argument`

When calling AddBodyParameter on a WebRequest

The error occurs on the line:` dict_pDictionary.Item(Key) = Value`

In:
[code]

The key is "propertyName" and the value is "asdasdasd". This error occurs after its already looped through and added some Body Parameters.

The exact same code and input runs fine on

[2016-07-19 01:27] timhall commented on #239
Hmm, not sure why that particular code would be affected by 32- vs 64-bit, The only thing that I can think of is the `Variant` type (from `AddBodyParameter` to `Let Item`) may be causing some weird issue. What is the type of the key/value being passed to `AddBodyParameter`? I would try the following:

[code]

I haven't found explicit coercion to string to be necessary, but maybe it'll help. Otherw

[2016-07-19 03:27] levitatejay commented on #239
I've just done some more testing and I believe its due to passing the Request into a function **ByRef**. Have you encountered something like this before? Seems to also be related to x64 Excel

Here is my function:
[code]

[2016-07-19 03:46] levitatejay commented on #239
Quick replication:

[code]

Has error in x64 Excel when attempting to add body parameter to a request passed ByRef but not when adding to request normally

[2016-07-19 12:08] timhall commented on #239
Great sleuthing @levitatejay! I'll look into it and see what I can find.

[2016-07-20 09:49] Hugo-KTM opened #240 "Credential Manager Support"
It would be nice to have support for the Windows Vault/Credential Manager for authentication.

[2016-07-20 18:00] timhall commented on #240
Hi @Hugo-KTM do you have any examples or references for this? (I've never used it before)

[2016-07-21 07:16] Hugo-KTM commented on #240
Not exactly.
The authoritative reference should be [Microsoft's Authentication Reference](https://msdn.microsoft.com/en-us/library/windows/desktop/aa374736(v=vs.85).aspx)
I know Excel's ActiveWorkbook.FollowHyperlink uses it.
I tried to declare the [CredRead](https://msdn.microsoft.com/en-us/library/windows/desktop/aa374804(v=vs.85).aspx) function in VBA, because my credentials are already stored

[2016-07-21 15:41] Bruce127 opened #241 "Authentication support for X509 certificates"
I have a scenario where I am querying a REST call using an X.509 certificate.  This works fine for me directly in the browser, but not when being called through Excel.  From what I can tell one of the existing authenticators would not work.  Can anyone recommend an approach?  Unfortunately I don't feel like I have the skills to create my own authenticator class.

Based on another tool that support

[2016-07-21 20:04] HugoHugoson commented on #240
This _could_ also address #241 if the certificate is stored in the Credential Manager (The Credential Manager offers to store [smart card] certificate based credentials).

[2016-07-21 20:11] HugoHugoson commented on #57
I called some SOAP interface using basic authentication over HTTPS. I had some Chrome extension decode the WSDL and created the message envelope manually and got an XML string back.
Would that snippet be of any help, and where would I put it?

[2016-07-21 21:17] Wombatpm commented on #240
With corporate firewalls and such I've good sucess using c*ntlm*
<goog_840323143>.sourceforge.net to use interface with the NTLM
authentication process.  If cntlm handles all of the use cases, it might be
better to build around that instead of reinventing the wheel.

Bruce Bromberek
815.290.9478

On Thu, Jul 21, 2016 at 3:04 PM, Hugo <notifications@github.com> wrote:

[2016-07-22 08:13] HugoHugoson commented on #240
I tried using Cntlm at my workplace but it did not work. Cntlm itself did not report any error, but no application that I tried, that did not understand the network configuration itself (through Windows, making Cntlm superfluous), managed to get a connection via Cntlm to the internet.
I reject the notion that there is some reinvention of the wheel going on, at least in this direction. The Credenti

[2016-07-22 18:07] Wombatpm commented on #240
Granted cntlm is a bit of a hassle to set up, but the real problem is
corporate firewalls that are configured in a brain dead manner.  For
example: my company has a BlueCoat proxy server rewriting all extenal
request.  Works fine for browsers.  Does not work for any other program
directly accessing the internet.  .Net one click installers - no luck.
Having Notepad++ check for updates or plugins -

[2016-07-25 23:53] levitatejay commented on #239
Hi Tim,

I've done some more searching. It looks like the problem is related to an automation issue with the key.

You can see that the key's value is still intact when calling "AddBodyParameter"
![excel_2016-07-26_11-48-20](https://cloud.githubusercontent.com/assets/13340760/17121375/5cb54a32-5327-11e6-8a10-c400f28119f8.png)

But once it goes a level deeper into the Dictionary implementation it l

[2016-07-26 06:50] Hugo-KTM commented on #240
Agreed. The main issue is to be able to access the data we need.

I would like to do this in a secure manner, by not having to store my credentials myself. I think this would be as bad as someone rolling his own crypto.

[2016-07-27 23:29] levitatejay commented on #239
The problem doesn't appear to be related to passing ByRef as I initially thought.

I can get my code to work by changing my subs declaration:
`AddBodyParamIfNotEmpty(ByRef Request As WebRequest, ParamName As String, CellName As String)`
from `ParamName As String` to `ParamName As Variant`

or by changing the the following sub's (from WebRequest class) declaration:
`Public Sub AddBodyParameter(Key

[2016-07-29 11:42] yort opened #242 "Development tools"
Hi Guys,

I'm working on coding some VBA scripts in Excel and was interested in how you develop VBA-Web efficiently?

The scripting tools in Excel are not the best, and I am wondering if there are any tricks out there you guys use to help in your development process, or if you guys do the hard yards and just use the built in tools and live with the inefficiencies.

Thanks
YorT

[2016-07-29 15:02] timhall commented on #242
Hi @yort I do all of my VBA coding in the built-in VBA editor. For smaller projects, I manually import and export code before committing it, but for VBA-Web there is a `Dev` module in the installer that helps with importing/exporting parts of the codebase during development.

I've been keeping an eye on a couple of projects that extend the built-in development experience (although I haven't had a

[2016-07-29 15:02] #242 closed

[2016-08-01 22:35] PioPio2 opened #243 "Complete example GMail"
I am trying to implement VBA-Web in one of my projects but I struggle to connect to GMail.
Can you please publish an example step by step that shows how to connect to GMail ?
I cannot even understand what the format credentials.txt should have

Many thanks
Alberto

[2016-08-02 22:37] PioPio2 opened #244 "Autentication error"
If I try to scan a GMail account I have the following error message at line `Set Response = GmailClient.Execute(Request)` in the function "Function LoadInbox() As Collection"

[code]

What am I doing wrong ?

[2016-08-03 01:52] timhall commented on #244
The error is pretty generic, but it looks like the API client might not be fully setup. Some possible solutions are highlighted in this thread:

http://stackoverflow.com/questions/23775972/error-invalid-client-with-google-apps-api-oauth2

Let me know if you are able to resolve it, I'm not sure there is an issue on the VBA-Web side of things.

[2016-08-03 15:25] nitinsolanki opened #245 "Salesforce Example"
Hi Tim,

I am trying to use the Salesforce Example.  I have entered the Consumer Key, Username, Type (Account) and Id (ObjectID).  I am getting the following:

Error 13: Type mismatch

Do I need to enter the password or consumer secret key?  If so, where do I enter that information.

Thanks

[2016-08-03 19:13] PioPio2 commented on #244
Hi Tim,
Thank you for your answer, firstly.

My fault, stupid error. There was an extra space in the Google Client Secret Key. This is solved now.

[2016-08-03 19:13] #244 closed

[2016-08-03 21:00] PioPio2 opened #246 "Sending email via GMail"
I am trying to send out an email with attachments via GMail. Anyone can point out how how to do ?
I am a total newbe with VBA-Web and Google API.

Alberto

[2016-08-03 21:01] PioPio2 commented on #243
Found the code in the examples.

[2016-08-03 21:01] #243 closed

[2016-08-04 14:20] nitinsolanki commented on #236
Hi @albinobean .  Can you please help me?  Were you able to get this to work?  I am getting the Error 13 message.  Where have you put in the username and Consumer Key?  Did you have to modify the code?

Thanks

[2016-08-04 14:23] nitinsolanki commented on #172
@arunbhat Can you please help?  Have you used this Excel to either load or update data in Salesforce?  Any information on this would greatly be appreciated.

[2016-08-04 15:05] albinobean commented on #236
Hi @nitinsolanki,

Unfortunately I never got it to work the way I wanted to. I ended up creating a report in Salesforce and using PowerQuery (now called Get and Transform) to connect instead of through the API.  It doesn't let you edit the record, but it is much easier to implement. Excel 2016 has a preconfigured seeing to connect to Salesforce reports, so you configure it all in SF and the you ca

[2016-08-04 17:52] arunbhat commented on #172
@nitinsolanki  We did not research this further. You can definitely write some VBA code to accomplish this. We ended up using Enabler4Excel (https://www.enabler4excel.com/) which has this support.

[2016-08-10 08:40] RainerHH opened #247 "Install problems"
Hello, I'm an nobody....
I have downloaded VBA_Web opens blank.xlsm, then Installer.xlsm and ckick to Install/Update.
Then I get an Error Message: 1004, We are unable to find object ''.
Can one help me?

[2016-08-23 08:03] jfrench9 opened #248 "Excel 2016 For Mac 64-Bit Update"
Excel 2016 for Mac was upgraded to 64-bit from 32-bit versions.  This has caused issues with the VBA-Web functionality in Excel 2016 for Mac. Microsoft [acknowledges](https://support.office.com/en-us/article/Error-messages-after-updating-to-Office-for-Mac-64-bit-b62d842c-b099-434f-af65-96cb03c03242?ui=en-US&rs=en-US&ad=US) that this is an issue for many add-ins.

It appears that some of the core f

[2016-08-25 17:43] timhall commented on #248
Hi @jfrench9 I don't currently have access to a Mac for testing, so I'm not sure what exactly the issues are or how to resolve them. Do you have more specifics (error messages, compilation issues, etc) on the issues that you are receiving?

[2016-08-26 04:41] jfrench9 commented on #248
When I run the add-on I created with VBA-Web integrated, I am getting this error:
<img width="417" alt="screen shot 2016-08-26 at 12 35 13 am" src="https://cloud.githubusercontent.com/assets/2874579/17994275/07b1d0e4-6b25-11e6-8413-70c97c6cd2d3.png">

I believe this error is referring to the declare statements in the Mac code:
https://github.com/VBA-tools/VBA-Web/blob/master/src/WebHelpers.bas#L14

[2016-08-26 06:43] rikochet commented on #248
@jfrench9 I am currently experiencing the same issue as you. Although I don't believe it's as simple as adding PtrSafe to the Declare statements.. It would appear that Long types may need to be changed to LongPtr..

i.e.
```Private Declare PtrSafe Function utc_popen Lib "libc.dylib" Alias "popen" (ByVal utc_Command As String, ByVal utc_Mode As String) As Long```

becomes

```Private Declare PtrSaf

[2016-08-26 07:07] rikochet commented on #248
@jfrench9, @timhall
Ok, so this solved the issue for me..

[code]

[code]

I'm assuming if you want this to work on multiple Excel versions then might need to add a few more `If VBA7 Then` statements to either set the variable types to either `Long` or `LongPtr`..

[2016-08-26 12:50] eciuca commented on #120
Can someone put Sophist-UK's solution in the error message? This worked for me too. Thank you!

[2016-08-30 09:55] SLiX69 opened #249 "How to use client certificate"
Hi, just wanted to ask how to set a client certificate.
Is there an option in the vba-web tools (I did not found anything in the docs), or do I have to set this in eg WebClient module with _SetClientCertificate_?

regards

[2016-09-01 10:37] bigalnz opened #250 "JSON response is not being parsed"
Hello,

I am not sure if this is a issue with my code, or a bug. I am getting a JSON response back and I have set:

[code]

However when I get the response, I can see the JSON in Response.Content, but if I try to access it with Response.Data("user_id") there is nothing.

In the watch window I can also see that Response.Data is empty.

I can however access the data if I use:

[code]

Which correctl

[2016-09-02 00:02] xaviksio opened #251 "VBA has no base64url decoder to decode full messages from gmail"

[2016-09-02 08:46] Sophist-UK commented on #251
Correct - VBA doesn't have a base64url encoder/decoder as standard. In fact, VBA doesn't have much as standard (because it is a programming language rather than a framework like .Net).

VBA-Web doesn't have one either at the moment either - but obviously there is nothing to stop anyone from adding one. I don't this will be difficult - as essentially you only need to translate certain characters to

[2016-09-02 09:07] Sophist-UK opened #252 "Future tweaks: URL encoding UTF and / or faster"
See [here](http://stackoverflow.com/questions/218181/how-can-i-url-encode-a-string-in-excel-vba) for code examples on UTF (which uses Kernel32.dll so will be Windows only) and for how to use `MemRead2` / `MemCopy` to make it 2x-4x faster (if speed is an issue for anyone).

[2016-09-04 01:58] timhall commented on #251
VBA-Web actually already has Base64 support:

`WebHelpers.Base64Encode(Text) -> String` [Code](https://github.com/VBA-tools/VBA-Web/blob/189ca7a9397d6381130f60b232763919e2209a92/src/WebHelpers.bas#L1042)
`WebHelpers.Base64Decode(Encoded) -> String` [Code](https://github.com/VBA-tools/VBA-Web/blob/189ca7a9397d6381130f60b232763919e2209a92/src/WebHelpers.bas#L1063)

Give it a try and let me know how

[2016-09-04 01:58] #251 closed

[2016-09-04 02:04] timhall commented on #250
There could be an error occurring during parsing. Parsing errors are currently handled internally and are not thrown, but they are logged to the Immediate Window of the VBA Editor (`ctrl + g`), so I would check that. If there are no parsing errors, I would need to see more of the code in order to diagnose.

[2016-09-04 02:17] timhall commented on #249
Hi @SLiX69, client certificates are not currently supported with VBA-Web. I have some hooks planned for a future version of VBA-Web that would allow functionality like this to be added without changing the library, but the following should work in the meantime: ([WebClient, 567](https://github.com/VBA-tools/VBA-Web/blob/189ca7a9397d6381130f60b232763919e2209a92/src/WebClient.cls#L567))

[code]

Let

[2016-09-04 02:24] timhall commented on #248
@jfrench9 @rikochet thanks for the additional info! I'll make these changes shortly.

[2016-09-04 02:27] timhall commented on #247
Hi @RainerHH I recommend downloading the entire release zip, unzipping, and then running the installer. The installer looks for the files in the src directory and will fail if they are not found. If you try that and it still doesn't work, please let me know.

[2016-09-04 02:27] #247 closed

[2016-09-04 02:35] timhall commented on #246
Hi @PioPio2 I have a pending issue #177 to investigate file attachments, but I have not had a chance to work on it and I haven't heard from others on the topic. I'll track this as a future example to look into.

[2016-09-04 02:35] #246 closed

[2016-09-04 02:43] timhall commented on #245
Hi @nitinsolanki, your security token (should be emailed when you set/change your password) and consumer secret is required, but it should prompt you to enter it. You could also create a credentials.txt in the root of the VBA-Web project (of the unzipped release), based on credentials-example.txt that includes the username, security token, key, and secret.

Other than that, I'm not sure what exact

[2016-09-04 02:43] #245 closed

[2016-09-04 02:51] timhall commented on #241
Hi @Bruce127, sorry I haven't responded sooner, but I have looked into this and I'm not finding any references on working with X509 and VBA and don't really know how what can be done to add support. A client certificate should be able to be used, see https://github.com/VBA-tools/VBA-Web/issues/249#issuecomment-244580291, but I'm not sure how to work with the keystore in VBA.

Do you have any refer

[2016-09-04 03:05] timhall commented on #240
I've looked into this pretty extensively and I don't think there is a reasonable path forward for making this work in VBA-Web. I'd say the best bet for tackling this is to create an add-in that leverages [CredentialManagement](http://www.nuget.org/packages/CredentialManagement/) to work with Credential Manager and communicate that information to VBA.

I'm happy to revisit this in the future if mor

[2016-09-04 03:05] #240 closed

[2016-09-04 03:06] timhall commented on #239
@levitatejay Thanks again for digging so deep into this weird issue. I'll add `ByVal` shortly to resolve this.

[2016-09-07 07:38] SLiX69 commented on #249
Hi @timhall,
seems like it is enough to install the certificate for '*local Account*'.
There is no need to explicitly link the certificate with *web_Http.SetClientCertificate*

[2016-09-07 08:54] SLiX69 commented on #142
Hi @timhall,
would you provide some more details, on how to set up the xml converter?

*1. Create XML Converter* - seems clear to me

*2. Register XML Converter* - is not that clear. Set '*ModuleName*' to module name created in first step.
But in which module I have to set this line?

*3. Use XML Converter in WebRequest* - isn't that clear, too. Am I right to set this those lines eg. here [maps ex

[2016-09-07 12:55] SLiX69 commented on #241
Hi @Bruce127, take a look at this [post](https://github.com/VBA-tools/VBA-Web/issues/249#issuecomment-245200270)

My issue is a bit of a duplicate of yours

[2016-09-19 15:25] PioPio2 commented on #177
Hi Tim,

I have found this [link ](https://ctrlq.org/code/20132-gmail-api-send-mail-attachments) for sending email and relevant attachments via GMail
It is in Google App Scripts and I hope it is useful to develop the correspondent sample in VBA-Web for the same functionality.

[2016-09-19 19:20] bergera opened #253 "Error on Mac when parsing redirected response"
On Mac, `WebResponse.web_ExtractResponseTextFromCurlResponse()` improperly handles responses which get redirected.

In this example, the raw output of curl includes the HTTP 301 response, followed by a blank line, followed by the desired HTTP 200 response, followed by a blank line, then the reponse body. `web_ExtractResponseTextFromCurlResponse` then returns everything after the first blank line a

[2016-09-22 13:09] sssh opened #254 "Open-ID authentication from VBA-WEB"
Is there a way to authenticate website using Open-Id for authentication from VBA-WEB ?

[2016-09-22 13:38] cavo789 opened #255 "Not an issue but a big THANK YOU"
Hi contributors

Just want to say you a very big thank you for what you've done with VBA-Web.  It's a really, really nice tool.  I was searching for how to manage SharePoint Rest API calls from within an Excel workbook (CRUD operations) and VBA-Web did very well the job.

So : :+1:  one million times.

[2016-09-22 18:31] timhall commented on #254
Hi @sssh it should definitely be possible, I'll look into it.

[2016-09-22 18:31] timhall commented on #255
@cavo789 Thanks, glad you're finding it useful!

[2016-09-22 18:31] #255 closed

[2016-09-23 18:53] bl4met commented on #222
Here is a MS KB article that was able to fix an issue i was having with trying to access a site using TLS 1.2 on Win7.

"This update provides support for Transport Layer Security (TLS) 1.1 and TLS 1.2 in Windows Server 2012, Windows 7 Service Pack 1 (SP1), and Windows Server 2008 R2 SP1."

https://support.microsoft.com/en-us/kb/3140245

[2016-09-24 03:17] timhall commented on #222
Awesome! I was tempted to write this off as not fixable, this is great news. I'll be sure to add a link to that in the docs/wiki.

[2016-09-26 13:00] sssh commented on #254
Thanks @timhall ! Looking forward to it.

[2016-09-26 22:50] MBlumberg73 commented on #222
Thanks @bl4met !!!  I went back to some W7 machines and W2008R2 server and tested the code that works on my w10 machines....   They NOW work on them without issue.  The update had previously automatically installed and... problem SOLVED!!!  Thanks!

[2016-09-26 22:50] #222 closed

[2016-10-02 19:17] Smokehouse opened #256 "Trouble working with Salesforce"
I've been using an older open source tool, [Excel Connector](https://code.google.com/archive/p/excel-connector/), with great success. But it's built using TLS 1.0 SOAP security access which Salesforce is retiring in the spring of 2017. The developer, Ron Hess, has long since stopped working on this project.

Rather than digging into this old code, I'm looking to build on VBA-Web. It looks great, b

[2016-10-02 19:53] Smokehouse commented on #256
A quick follow up note. Having similar Error 400 problems with Twitter. No problem with the distance sample for Maps. The difference is that Maps doesn't require a login. I used cURL to test the Salesforce POST that VBA-Web generates and that works fine. So I'm assuming that there's something amiss among the authentication code.

I'll keep digging. Let me know if you can point me in the right dire

[2016-10-04 15:53] PioPio2 commented on #177
Hi Tim,
Did you have the chance to look into this ? I tried a number of time but I am too inexperienced for that.

[2016-10-06 23:06] levitatejay opened #257 "Cryptography.HMACSHA256 Automation Error"
I'm getting an automation error on some Windows 10 installations when using the HmacSha256 Function in WebHelpers.

The line the error occurs on is:
`Set web_Crypto = CreateObject("System.Security.Cryptography.HMACSHA256")`

According to [this thread](http://stackoverflow.com/questions/39339946/vba-excel-automation-error-from-sha256-and-hmacsha256-functions) the issue happens when older versions o

[2016-10-07 16:24] timesscript opened #258 "Ability to access BODY from Gmail API?"
So I am new to GitHub and not sure if this is where to put things, but I can get the gmail example to work great, but I need more than just the snippet of the body. I am trying to figure out a correct syntactic way to access the payload:body:data

      "body": { # The body of a single MIME message part. # The message part body for this part, which may be empty for container MIME message parts.

[2016-10-09 17:21] av44 commented on #248
@timhall do you plan to release these changes? I am experiencing the same issue and, if possible, would prefer to get an "official" update instead of patching myself.
Thanks!

[2016-10-11 06:11] yort opened #259 "CookieJar support"
Hi Guys,

I cant see an option for it, but does VBA-Web support anything like CookieJar support, or persistent cookies between requests?

Thanks
Troy/YorT

[2016-10-11 17:43] timhall commented on #259
Hi @yort cookies are supported, but they are fairly low-level so you'd have to set up your process manually to retrieve cookies from a response and adding them to requests:

[code]

This could probably be encapsulated in an `Authenticator` to handle it automatically

[code]

[2016-10-11 17:43] #259 closed

[2016-10-11 18:21] Sophist-UK commented on #259
Just in case it isn't clear from Tim's comments, this persists cookies for the session, but as soon as the VBA environment is cleared or Excel closed then the cookies will be lost. If you want to have true Cookie persistence across sessions, then you will need to find some way of storing the cookies collection externally to Excel (in an XML file or in a spreadsheet or something).

[2016-10-11 20:52] yort commented on #259
Thanks guys, I thought that would be the way to do it.

The tricky bit I have just discovered this morning is that I need to persist cookies between redirects also. The headers of the response only show the last response though, and the authenticator system hooks only work on the initial, and last (from what I can test) request, so no ability to hook into the system during the redirects to persist

[2016-11-02 21:28] Smokehouse commented on #256
After much digging I have learned that OAuth2 (at least for Salesforce) requires the token request parameters to be in the URL string in the .Open, not in the Body in the .Send  VBA-Web does this correctly.  So the whole ado above about "Request.Body being empty" is not really a problem.

So I still have no idea why the Salesforce demo is not working for me. I'm closing this thread. It's off in th

[2016-11-02 21:28] #256 closed

[2016-11-03 03:09] wraymac opened #260 "Nested JSON Arrays (How to access)"
Any Idea on how to access (loop) through nested arrays?
The VBA-JSON is able to access all the data but I  have to  reference the indices for each level

in this file results.items.offers - both items and offers are arrays and contain arrays (nested)
[github.txt](https://github.com/VBA-tools/VBA-Web/files/568160/github.txt)

What I would like to do is be able to add the _field names_ to excel/acce

[2016-11-03 08:16] Sophist-UK commented on #260
I doubt that this functionality exists as standard but reference by name rather than by position like something that would be very useful indeed to avoid searching through the JSON every time you want something.

That said, I don't think that you can avoid nesting issues unless you are certain that names are unique in the nesting.

What we need is a VBA helper class or helper functions that would

[2016-11-03 18:42] albus8889 commented on #246
I am in a similar situation as PioPio2, I would love some help. I have made quite a few attempts at this, but think my api knowledge may be a little lacking here.

I have project that I am trying to email a PDF that I create from a table of data in excel.

[2016-11-05 17:50] Smokehouse commented on #236
I've the Salesforce libraries to work. I had to overcome two things:

1) I was on Windows 7, and the WinHttp libraries on Win7 default to TLS 1.0. Some old SF instances still support this, none of the new instances do. In the spring of 2017, SF will move completely off TLS 1.0. Here's a note from Microsoft about how to enable TLS 1.1 and 1.2 support on Windows 7. You need a patch (if you're up to

[2016-11-08 10:34] SLiX69 commented on #219
Hi @timhall,
your code works for me, just had to change this:
[code]
(replace delimeter "," between *.acc and *.mdb with ";")

[2016-11-09 10:40] SLiX69 opened #263 "XML parsing on Windows (again)"
Hi @timhall,
would you please provide some more details, on how to set up the xml converter on Windows?

*1. Create XML Converter* - seems clear to me

*2. Register XML Converter* - is not that clear. Set '*ModuleName*' to module name created in first step.
But in which module I have to set this line?

*3. Use XML Converter in WebRequest* - isn't that clear, too. Am I right to set this eg. here [m

[2016-11-21 09:53] PioPio2 commented on #246
Hi @albus8889,

Just post your code here, no matter if it is not working. Maybe someone would step in and help.

[2016-11-24 20:00] mr2001 opened #264 ""Dictionary" ambiguity"
Please replace all instances of "as Dictionary" with "**as Scripting.Dictionary**".
I added your module to a VBA project that has references to **Word, Excel and Outlook Objects Library** and I am getting an error...
"Dictionary" can also be an Office object.

[2016-11-25 05:01] gerald2545 commented on #67
Hi Tim,
is this enhancement implemented? I'm really interested

Thank  you

Gerald

[2016-11-25 08:18] Sophist-UK commented on #67
See #206 for a better Async capability which allows requests in parallel. So you can already send them in one by one and process the requests via a call-back when they complete.

However this is Windows only - not being a Mac user I haven't been able to look at doing cUrl calls in parallel.

The ability to do multiple requests in parallel from one synchronous call would require a wrapper to make t

[2016-12-15 23:07] mbirchler opened #268 "Handling BOM in Json Response"
When trying to parse a JSON string from my Rest response, I get the following error:

ERROR - WebHelpers.ParseByFormat: 11000, An error occurred during parsing
10001: Error parsing JSON:
ï»¿{"UnitPr

The 3 characters (the byte order mark) are not be properly removed.  Is there something I'm missing in setting this up?

Thanks